{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with $data.education }}

    {{ partial "0_1_page_head.html" . }}

  <body>

	{{ partial "3_0_education_header.html" . }}

	{{ partial "3_1_education_description.html" . }}

	<!-- {{ partial "3_3_education_workshop_areas.html" . }} -->

  {{ partial "3_2_education_upcoming_workshops.html" . }}

	{{ partial "3_4_education_custom_workshops.html" . }}

	{{ partial "3_6_education_feedback.html" . }}

<!--- footer ------->

  {{ partial "0_1_page_footer.html" . }}

	{{ partial "0_1_page_js.html" . }}


  </body>
</html>

{{ end }}
