<div style="" align="center" class="footer-box-orange">
  <div class="one">
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">

       /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div class="col-md-6 col-sm-6 col-xs-12 mail-left">
      <form action="https://tech.us13.list-manage.com/subscribe/post?u=72ea95a46241bb5fbaf74e311&amp;id=f21e7ad288"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
      novalidate>
      <div style="font-size: 1.7em; padding-top: 0; color: white; text-align: center;margin: 5% !important;" for="mce-EMAIL">
        <h2>Subscribe to our mailing list:</h2>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 mail-right">
      <div id="mc_embed_signup">

        <div class="content-mail">
      <input style="border-radius: 15px;color: black; font-size: 15px; max-width:400px; "
      type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
             <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
             <div style="position: absolute; left: -5000px" aria-hidden="true"><input type="text"
               name="b_72ea95a46241bb5fbaf74e311_f21e7ad288" tabindex="-1" value=""></div>
             <div class="clear"><input style="background: white ; border-radius: 15px;
               color: #f27222; font-size: 15px;max-width:150px;" type="submit" value="Subscribe"
               name="subscribe" id="mc-embedded-subscribe" class="button"></div>
             </div>
             </div>
    </div>
  </div>
</div><!--footer-box-orange-->
