
<div class="footer">

	<div class="container-fluid">

	        <div class="footer-box-gray" id="footer">

		        <div class="row">

			        <div class="col-md-4 col-sm-4 col-xs-12" id="footer-box-gray-left">

				        <h3>Contactanos</h3>
						<hr>
						<a href="tel:=34937638578">+34 93 763 85 78</a> <br>
						<a href="mailto:hello@soko.tech">hello@soko.tech</a><br>
						<a href="https://wa.me/34699571897">+34 699 571 897</a>

			        </div> <!--col-->



			        <div class="col-md-4 col-sm-4 col-xs-12" id="footer-box-gray-middle">

						<a href="#contact">
							<div class="btn-ftr">
								<p>Ubicacion</p>
							</div>
						</a>

						<hr>

						<a href="about">
							<div class="btn-ftr">
								<p>Quienes somos?</p>
							</div>
						</a>

								<hr>

						<a href="history">
							<div class="btn-ftr">
								<p>Historia</p>
							</div>
						</a>

						<hr>
						<div class="cont2">
									<a href="https://www.facebook.com/sokotech/">
										<img src="../img/10/f.png" class="icon" alt=""/>
										</a>
												<a href="https://www.linkedin.com/company/sokotech">
													<img src="../img/10/lin.png" class="icon" alt=""/>
												</a>

												<a href="https://www.instagram.com/sokotech/">
													<img src="../img/10/ins.png" class="icon" alt=""/>
												</a>

												<a href="https://twitter.com/sokotech">
													<img src="../img/10/tw.png" class="icon" alt=""/>
											</a>
								</div> <!--ftr-cont2-->

			        </div> <!--col-->
			        <div class="col-md-4 col-sm-4 col-xs-12" id="footer-box-gray-right">

				        <a href="#"><img src="../img/10/logo.svg" class="img-responsive" id="footer-logo-right"></a>


						<h5>Soko Digital, S.L</h5>
						<p>Carrer Valles i Ribot 44 <br> 08027, Barcelona</p>

			        </div> <!--col-->


		        </div>	<!--row-->


	        </div> <!--footer-box-gray-->
</div> <!-- container -->

</div> <!--footer-->
