<section id="subscribe-mailing">

  <div class="container-fluid" id="subscribe-mailing-container">

    <div class="container">

      <div class="row">

        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

        <div class="col-md-6 col-sm-6 col-xs-12 mail-left">

          <div id="subscribe-mailing-text">

          <h2 class="h2-title" id="subscribe-mailing-text-h2">Subscribe to our mailing list:</h2>

          </div> <!-- mce-EMAIL -->

        </div> <!-- col -->

        <div class="col-md-6 col-sm-6 col-xs-12 mail-right">

          <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">

<!--End mc_embed_signup-->

          <div id="mc_embed_signup">

            <form action="https://tech.us17.list-manage.com/subscribe/post?u=357ca9f48e009ad4a37ae7317&amp;id=3e9d6ab161" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

              <div class="content-mail">

                <input style="border-radius:0px!important; border:none; border-bottom: 2px solid white; background-color: #F27222;color: white;
                font-size: 23px" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px" aria-hidden="true">

                  <input type="text" name="b_72ea95a46241bb5fbaf74e311_f21e7ad288" tabindex="-1" value="">

                </div>  <!-- div -->

                <div class="clear">

                  <input style="background: #fff; border-radius: 3px; color: #f27222; font-size: 1.1em; font-weight: 400; line-height: 1; max-width: 130px; display: block; position: absolute; height: 31px; top: 38px; left: 363px; border: 2px solid white;" type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button">

                </div> <!-- clear -->

              </div> <!-- content-mail -->

            </form>

          </div> <!-- mc-embed -->

        </div> <!-- col -->

      </div> <!-- row -->

    </div>  <!-- container -->

  </div> <!-- subscribe-mailing-container -->

</section> <!-- subscribe-mailing -->
