<footer id="contact">

	<div class="container-fluid" id="footer-container">

	  <div class="footer-box-gray">

	    <div class="row">

	      <div class="col-md-4 col-sm-12" id="footer-box-gray-left">

					<h2 class="h2-title" id="footer-contact-title">Contact</h2>

					<a href="tel:=34937638578"><h4 class="h4-page-subtitle" id="footer-h4">+34 93 763 85 78</h4></a>

					<a href="mailto:hola@soko.tech"><h4 class="h4-page-subtitle" id="footer-h4">hola@soko.tech</h4></a>

					<a href="https://wa.me/34699571897"><h4 class="h4-page-subtitle" id="footer-h4">+34 699 571 897</h4></a>

	      </div> <!--col-->

	      <div class="col-md-4 col-sm-12" id="footer-box-gray-middle">

					<a href="../../about"><h4 class="h4-page-subtitle" id="footer-h4-white">About</h4></a>

					<hr class="footer-hr">

					<a href="../../space"><h4 class="h4-page-subtitle" id="footer-h4-white">Space</h4></a>

					<hr class="footer-hr">

					<a href="#"><h4 class="h4-page-subtitle" id="footer-h4-white">History</h4></a>

					<hr class="footer-hr">

				  <div class="footer-social-share">

						<a class="footer-social-share-item" href="https://www.facebook.com/sokotech/">
							<img src="../img/10/f.png" class="icon" alt=""/>
						</a>

						<a class="footer-social-share-item" href="https://www.instagram.com/sokotech/">
							<img src="../img/10/ins.png" class="icon" alt=""/>
						</a>

						<a class="footer-social-share-item" href="https://twitter.com/sokotech">
							<img src="../img/10/tw.png" class="icon" alt=""/>
						</a>

					</div> <!--ftr-cont2-->

	      </div> <!--col-->

	      <div class="col-md-4 col-sm-12" id="footer-box-gray-right">

					<a href="#">

						<img src="../img/10/logo.svg" class="img-responsive" id="footer-logo-right">

					</a>

					<h5>Soko Digital, S.L</h5>

					<p>Carrer Valles i Ribot 44 <br> 08027, Barcelona</p>

	      </div> <!--col-->

	    </div>	<!--row-->

	  </div> <!--footer-box-gray-->

	</div> <!-- container -->

</footer> <!-- footer -->
