<div class="footer" id="contact-page">

	<div class="container-fluid">

		<div align="center" id="all" class="footer-box-orange">

	    	<div id="one">

	    		<div align="center" id="col3-5-left">

	    			<form action="/action_page.php">

	    				<div class="container-imp">
					    	<input type="text" placeholder="Suscríbete al Newsletter" name="mail" required>
					    </div>	<!--container-imp-->

					    <div class="container-sbt">
							<input type="submit" value="Suscríbete">
				        </div>	<!--container-sbt-->

					</form>	<!--action-->

    		    </div>	<!--center-->





	    		<div id="space39ftr"></div>

		    		<div align="center" id="col2-5-right" class="footer-sm">

		    			<div class="ftr-cont1">
			    			<p>Encuentranos en:</p>
		    			</div>

		    			<div align="center" class="ftr-cont2">

		    				<a href="https://www.facebook.com/sokotech/">
			    				<img src="../../img/10/f.png" class="footer_icon" alt=""/>
			    		    </a>

			                <a href="https://www.linkedin.com/company/sokotech">
				                <img src="../../img/10/lin.png" class="footer_icon" alt=""/>
			                </a>

			                <a href="https://www.instagram.com/sokotech/">
				                <img src="../../img/10/ins.png" class="footer_icon" alt=""/>
			                </a>

			                <a href="https://twitter.com/sokotech">
				                <img src="../../img/10/tw.png" class="footer_icon" alt=""/>
				            </a>

		    			</div> <!--ftr-cont2-->

	    		    </div> <!--col2-5-right-->

	    	    </div> <!--space39ftr-->

    	    </div> <!--one-->




	        <div class="footer-box-gray">

		        <div class="row">

			        <div class="col-md-4" id="footer-box-gray-left">

				        <h3>Contactanos</h3>
						<hr>
						<a href="tel:=34937638578">+34 93 763 85 78</a> <br>
						<a href="mailto:hello@soko.tech">hello@soko.tech</a><br>
						<a href="https://wa.me/34699571897">+34 699 571 897</a>

			        </div> <!--col-->



			        <div class="col-md-4" id="footer-box-gray-middle">

						<a href="../#contact">
							<div class="btn-ftr">
								<p>Ubicacion</p>
							</div>
						</a>

						<hr>

						<a href="../about">
							<div class="btn-ftr">
								<p>Quienes somos?</p>
							</div>
						</a>

								<hr>

						<a href="../history">
							<div class="btn-ftr">
								<p>Historia</p>
							</div>
						</a>

			        </div> <!--col-->



			        <div class="col-md-4" id="footer-box-gray-right">

				        <a href="../"><img src="../../img/10/logo.svg" class="img-responsive" id="footer-logo-right"></a>


						<h5>Soko Digital, S.L</h5>
						<p>Carrer Valles i Ribot 34 <br> 08027, Barcelona</p>

			        </div> <!--col-->


		        </div>	<!--row-->


	        </div> <!--footer-box-gray-->


	</div> <!-- container -->

</div> <!--footer-->
