
<header class="header-section-home">

	<div class="main-navigation-home">

		<nav class="navbar navbar-default navbar-fixed-top navbar-home">

			<div class="preheader">

				<div class="social-media">

					<a href="https://www.facebook.com/sokotech/" class="facebook">
					<img src="../img/10/f.png" class="icon" alt=""/></a>

					<a href="https://www.twitter.com/sokotech/" class="twitter">
					<img src="../img/10/tw.png" class="icon" alt=""/></a>

					<a href="https://www.instagram.com/sokotech/" class="instagram">
					<img src="../img/10/ins.png" class="icon" alt=""/></a>

				</div>	<!-- social-media -->

			</div>	<!-- preheader -->

			<div class="container-fluid">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>

					</button>	<!-- button -->

					<a class="navbar-brand" href=""> <img src="../img/01/logo-black.svg" alt="sokotech"> </a>

				</div>	<!-- navbar-header -->

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<ul class="nav navbar-nav navbar-right">

					<li><a href="#">Home</a></li>

					<li><a href="about">About</a></li>

					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="false">Projects<span
					class="caret"></span></a>

						<ul class="dropdown-menu" id="lang-selector">

						<li><a href="education">Education</a></li>
						<li><a href="medialab">Comunication</a></li>
						<li><a href="events">Events</a></li>
						<li><a href="fablab">Lab / Design</a></li>
						<li><a href="space">Space (Rental)</a></li>

						</ul>	<!-- dropdown-menu -->

					</li> <!-- dropdown -->

					<li><a href="#contact">{{ .item.StNavItemFive }}</a></li>

					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
					role="button" aria-haspopup="true" aria-expanded="false">{{ .item.StNavItemSix }}<span
					class="caret"></span></a>

						<ul class="dropdown-menu" id="lang-selector">

							{{ range $.Site.Home.AllTranslations }}
							<li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
							{{ end }}

						</ul> <!-- dropdown-menu -->

					</li> <!-- dropdown -->

				</ul> <!-- nav navbar-nav -->

			</div><!-- /.navbar-collapse -->

			</div><!-- /.container-fluid -->

		</nav> <!-- /.main navigation -->

	</div><!-- /.main navigation -->

	<!-- end of sticky nav -->

	<div class="hero">

		<div class="container-fluid">

		<a href="#"><img class="logo"  src="../img/01/logo.svg"></a>

		<div class="hero-description">

			<h1 class="h1-hero-description">We create innovation projects, programs & events in the fields of science</h1>

		</div> <!-- hero-description -->

	</div> <!-- container -->

	<input type="checkbox" id="op"></input>

	<div class="lower">

		<label for="op"> <img class="bg_menu"  src="../img/01/menu.svg"><p class="tmen">Menu</p></label>

	</div> <!-- lower -->

	<div class="overlay overlay-hugeinc">

	<label for="op"></label>

		<nav>

			<ul>

				<li><a href="#">{{ .item.OverlayNavItemOne }}</a></li>

				<li><a href="education">{{ .item.OverlayNavItemTwo }}</a></li>

				<li><a href="events">{{ .item.OverlayNavItemThree }}</a></li>

				<li><a href="medialab">{{ .item.OverlayNavItemFour }}</a></li>

				<li><a href="fablab">{{ .item.OverlayNavItemFive }}</a></li>

				<li><a href="space">{{ .item.OverlayNavItemSix }}</a></li>

			</ul> <!-- ul -->

			<div class="square">

				<div class="square-subnav-item-1">

					<h6><a href="#contact">{{ .item.OverlayNavItemSeven }}</a></h6>

				</div>  <!-- square-subnav-item -->

				<div class="square-subnav-item-2">

					<h6><a href="about">{{ .item.OverlayNavItemEight }}</a></h6>

				</div>  <!-- square-subnav-item -->

				<div class="square-subnav-item-3">

					<h6><a href="history">{{ .item.OverlayNavItemNine }}</a></h6>

				</div>  <!-- square-subnav-item -->

			</div>  <!-- square -->

			<div class="contact">

				<h6 id="contact-1">{{ .item.OverlayNavItemTen }}</h6>

				<h6 id="soko-mail"><a href="mailto:hello@soko.tech">Hello@soko.tech</a></h6>

				<h6 id="contact-2"><a href="tel:=34937638578"> +34 93 763 85 78</a></h6>

				<h6 id="contact-3"><a href="https://wa.me/34699571897"> +34 699 571 897</a></h6>

			</div>

			<div class="address">

				<h6 id="contact-4">Carrer Valles i Ribot, 44 <br> 08027, Barcelona</h6>

			</div>  <!-- address -->

		</nav> <!-- nav -->

	</div> <!-- overlay overlay-hugeinc -->

	</div> <!--bg-img-->

</header> <!--header-section-->
