
<header class="header-section-home">

	<!-- sticky nav -->

		<div class="main-navigation-home">

			<nav class="navbar navbar-default navbar-fixed-top navbar-home">
				<div class="preheader">
					<div class="social-media">
						<a href="https://www.facebook.com/sokotech/" class="facebook">
							<img src="../img/10/f.png" class="icon" alt=""/></a>
						<a href="https://www.twitter.com/sokotech/" class="twitter">
							<img src="../img/10/tw.png" class="icon" alt=""/></a>
						<a href="https://www.instagram.com/sokotech/" class="instagram">
							<img src="../img/10/ins.png" class="icon" alt=""/></a>
						<!--<a href="https://www.linkedin.com/company/sokotech" class="linkedin">
						<img src="../img/10/lin.png" class="icon" alt=""/></a>-->
					</div>
				</div>
				<div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href=""> <img src="../img/01/logo-black.svg" alt="sokotech"> </a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			    <ul class="nav navbar-nav navbar-right">
			        <li><a href="events">Home</a></li><!--{{ .item.StNavItemOne }}-->
							<!--{{ .item.StNavItemTwo }}-->
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
								role="button" aria-haspopup="true" aria-expanded="false">Projects<span
								class="caret"></span></a>
								<ul class="dropdown-menu" id="lang-selector">
									<li><a href="#">Education</a></li>
									<li><a href="#">Events</a></li>
									<li><a href="#">Comunication</a></li>
									<li><a href="#">Lab</a></li>
								</ul>
							</li>
							<!--<li><a href="fablab">{{ .item.StNavItemThree }}</a></li>
							<li><a href="about">{{ .item.StNavItemFour }}</a></li>-->
							<li><a href="#contact">{{ .item.StNavItemFive }}</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
								role="button" aria-haspopup="true" aria-expanded="false">{{ .item.StNavItemSix }}<span
								class="caret"></span></a>
	          	<ul class="dropdown-menu" id="lang-selector">
							{{ range $.Site.Home.AllTranslations }}
							<li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
							{{ end }}
	           <!--  <li><a href="#">CAT</a></li>
	            <li><a href="#">ES</a></li>
	            <li><a href="#">ENG</a></li> -->
								</ul>
	        				</li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</div><!-- /.main navigation -->

	<!-- end of sticky nav -->

		<div class="bg_img">

			<div class="container">

				<a href="#"><img class="logo"  src="../img/01/logo.svg"></a>

				<div class="container" id="container-st-headline">


					<div class="st_headline" align="center">
								<h1>{{ .item.BgTitle }}</h1>

								<div class="subhead">
									<h4>{{ .item.BgDescription }}</h4>
									</div> <!--subhead-->

									<a id="st-headline-scroll" href="#description">

									 <div class="arrow">

												<p class="tscr">scroll</p>

										<img width="20px" src="../img/01/arrow.svg"/>

											</div> <!-- arrow -->
									</a> <!-- #s3 -->

								</div> <!-- st headline -->

				</div>



			</div>

			<input type="checkbox" id="op"></input>

				<div class="lower">

					<label for="op"> <img class="bg_menu"  src="../img/01/menu.svg"><p class="tmen">Menu</p></label>

				</div> <!-- lower -->




				<div class="overlay overlay-hugeinc">

					<label for="op"></label>

					<nav>
					<ul>
						<li><a href="#">{{ .item.OverlayNavItemOne }}</a></li>
						<li><a href="education">{{ .item.OverlayNavItemTwo }}</a></li>
						<li><a href="events">{{ .item.OverlayNavItemThree }}</a></li>
						<li><a href="medialab">{{ .item.OverlayNavItemFour }}</a></li>
						<li><a href="fablab">{{ .item.OverlayNavItemFive }}</a></li>
						<li><a href="space">{{ .item.OverlayNavItemSix }}</a></li> <!-- space -->
						<!--<li><a href="newsletter">Newsletter</a></li>-->
					</ul>


					<div class="square">

							<div class="square-subnav-item-1">
								<h6><a href="#contact">{{ .item.OverlayNavItemSeven }}</a></h6>
							</div>
							<div class="square-subnav-item-2">
								<h6><a href="about">{{ .item.OverlayNavItemEight }}</a></h6>
							</div>
							<div class="square-subnav-item-3">
								<h6><a href="history">{{ .item.OverlayNavItemNine }}</a></h6>
							</div>

					</div>  <!-- square -->


					<div class="contact">

							<h6 id="contact-1">{{ .item.OverlayNavItemTen }}</h6>
							<h6 id="soko-mail"><a href="mailto:hello@soko.tech">Hello@soko.tech</a></h6>
							<h6 id="contact-2"><a href="tel:=34937638578"> +34 93 763 85 78</a></h6>
							<h6 id="contact-3"><a href="https://wa.me/34699571897"> +34 699 571 897</a></h6>

					</div>

					<div class="address">
						<h6 id="contact-4">Carrer Valles i Ribot, 44 <br> 08027, Barcelona</h6>
					</div>

			</nav>

				</div> <!-- overlay overlay-hugeinc -->
			<!--<img class="img-responsive" id="bg-icons-background" src="../img/01/bg.svg"/>

		</div> <!--bg-icons-->

<!--- foldout-menu ------------------------>

<!--<div class="icon-bar">
  <a href="https://www.facebook.com/sokotech/" class="facebook"><img src="../img/10/f.png" class="icon" alt=""/></a>
	<a href="https://www.twitter.com/sokotech/" class="twitter"><img src="../img/10/tw.png" class="icon" alt=""/></a>
  <a href="https://www.instagram.com/sokotech/" class="instagram"><img src="../img/10/ins.png" class="icon" alt=""/></a>
	<a href="https://www.linkedin.com/company/sokotech" class="linkedin"><img src="../img/10/lin.png" class="icon" alt=""/></a>
</div>-->

<!--- foldout-menu ------------------------>

		</div> <!--bg-img-->

</header> <!--header-section-->
