
<div id="scroll-anchor"></div>

	<div class="header-description-home" id="soko_description">


	<!-------- home-main-description --------->

	<div class="container ">

		<div class="row">

			<div class="col-md-6 col-sm-6 col-xs-12 ">
				<div class="">
					<h2>Our Work</h2>
					<br>
					<p style="  ">SokoTech is a citizen lab that thrives on the passion, curiosity & creativity of its team members with a unique and integral view on the complexity of reality.
					We focus our undivided attention on the ideas and solutions that create social value and cultivate knowledge to face uncertainty and challenging scenarios.</p>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-xs-12 ">
				<div class="">
					<div class="row home-description-icons-row">

							<div class="col-md-4 col-sm-4 col-xs-4  " id="bg_icons_2_element">

							<a href="education"><img  src="../img/01/i_edu.svg"> <h3>{{ .item.IcoNavItemOne }}</h3></a>

							</div> <!--col -->


							<div class="col-md-4 col-sm-4 col-xs-4  " id="bg_icons_2_element">

							<a href="events"><img  src="../img/01/i_eve.svg"> <h3>{{ .item.IcoNavItemTwo }}</h3></a>

							</div> <!--col -->


							<div class="col-md-4 col-sm-4 col-xs-4  " id="bg_icons_2_element">

							<a href="medialab"><img  src="../img/01/i_ml.svg"><h3>Comunication</h3></a><!-- {{ .item.IcoNavItemThree }} -->

							</div> <!--col -->

							</div> <!--row-->

								<div class="row">
									<div class="clearfix  visible-sm visible-xs"></div>

									<div class="col-md-4 col-sm-4 col-xs-4  " id="bg_icons_2_element">

									<a href="fablab"><img  src="../img/01/i_fl.svg"> <h3>CREATIVE LAB<!--{{ .item.IcoNavItemFour }}--></h3></a>

									</div> <!--col -->


									<div class="col-md-4 col-sm-4 col-xs-4  " id="bg_icons_2_element">

									<a href="space"><img  src="../img/01/i_esp.svg"> <h3>{{ .item.IcoNavItemFive }}</h3></a>

									</div> <!--col -->


										<div class="col-md-4 col-sm-4 col-xs-4  " id="bg_icons_2_element">

										<a href="#contact"><img src="../img/01/Soko Contact Blanc-02.png"> <h3>{{ .item.IcoNavItemSix }}</h3></a>

										</div> <!--col -->
									</div> <!-- row -->
									</div>
								</div>	<!-- col-->
							</div>		<!--row-->
						</div>	<!-- container-->
					<!-- <hr> -->
				<!-- <h2 class="home-main-description">{{ .item.HomeDescriptionText }}</h2> -->



	<!-------- row logos --------->

	</div> <!-- header-description-home -->
