
<div id="scroll-anchor"></div>

<div class="header-description-home" id="soko_description">

	<!-------- home-main-description --------->

	<div class="container">

		<div class="row  icons-home-1">

			<div class="col-md-6 col-sm-6 col-xs-12">

					<h2 class="h2-title">Our Work</h2>

					<p class="p-block-description">SokoTech is a citizen lab that thrives on the passion, curiosity & creativity of its team members with a unique and integral view on the complexity of reality. We focus our undivided attention on the ideas and solutions that create social value and cultivate knowledge to face uncertainty and challenging scenarios.</p>

			</div>  <!--col -->

			<div class="col-md-6 col-sm-6 col-xs-12 ">

				<div class="icons-home">

					<div class="row home-description-icons-row" id="home-description-icons-row-01">

						<div class="col-md-4 col-sm-4 col-xs-4" id="bg_icons_2_element">

							<a href="education">

								<img class="icons-home-2-img" src="../img/01/i_edu.svg">

								<h4 class="icons-home-2-name">{{ .item.IcoNavItemOne }}</h4>

							</a>

						</div> <!--col -->


						<div class="col-md-4 col-sm-4 col-xs-4" id="bg_icons_2_element">

							<a href="events">

								<img class="icons-home-2-img" src="../img/01/i_eve.svg">

								<h4 class="icons-home-2-name">{{ .item.IcoNavItemTwo }}</h4>
							</a>

						</div> <!--col -->


						<div class="col-md-4 col-sm-4 col-xs-4" id="bg_icons_2_element">

							<a href="medialab">

								<img class="icons-home-2-img" src="../img/01/i_ml.svg">

								<h4 class="icons-home-2-name">Comunication</h4>

							</a><!-- {{ .item.IcoNavItemThree }} -->

						</div> <!--col -->

					</div> <!--row-->

					<div class="row home-description-icons-row" id="home-description-icons-row-02">

						<div class="col-md-4 col-sm-4 col-xs-4" id="bg_icons_2_element">

						<a href="fablab">

							<img class="icons-home-2-img" src="../img/01/i_fl.svg">

							<h4 class="icons-home-2-name">Workshop<!--{{ .item.IcoNavItemFour }}--></h4>

						</a>

						</div> <!--col -->

						<div class="col-md-4 col-sm-4 col-xs-4" id="bg_icons_2_element">

						<a href="space">
							<img class="icons-home-2-img" src="../img/01/i_esp.svg">
							<h4 class="icons-home-2-name">{{ .item.IcoNavItemFive }}</h4>
						</a>

						</div> <!--col -->

							<div class="col-md-4 col-sm-4 col-xs-4" id="bg_icons_2_element">

							<a href="#contact">

								<img class="icons-home-2-img" src="../img/01/Soko Contact Blanc-02.png">

								<h4 class="icons-home-2-name">{{ .item.IcoNavItemSix }}</h4>

							</a>

							</div> <!--col -->
						</div> <!-- row -->
				</div> <!-- icons-home -->

			</div> <!-- col-->

		</div>		<!--row-->

	</div>	<!-- container-->

	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<h2 class="h2-title">Our Impact</h2>

				<!-- <p class="p-block-description">SokoTech is a citizen lab that thrives on the passion, curiosity & creativity of its team members with a unique and integral view on the complexity of reality. We focus our undivided attention on the ideas and solutions that create social value and cultivate knowledge to face uncertainty and challenging scenarios.</p> -->

			</div> <!--col -->

		</div> <!-- row -->

		<div class="row icons-home-2">

				<div class="col-md-3 col-sm-6 col-xs-6" id="bg_icons_2_element">

					<img class="icons-home-2-img" src="../img/01/countries-2.svg">

					<h3 class="icons-home-2-name">Countries</h3>
					<h4 class="icons-home-2-name">5+ Countries</h4>

				</div> <!--col -->

				<div class="col-md-3 col-sm-6 col-xs-6" id="bg_icons_2_element">

					<img class="icons-home-2-img" src="../img/01/projects.svg">

					<h3 class="icons-home-2-name">Projects</h3>
					<h4 class="icons-home-2-name">100+ Projects</h4>

				</div> <!--col -->

				<div class="col-md-3 col-sm-6 col-xs-6" id="bg_icons_2_element">

					<img class="icons-home-2-img" src="../img/01/networking-3.svg">

					<h3 class="icons-home-2-name">Network</h3> <!-- {{ .item.IcoNavItemThree }} -->
					<h4 class="icons-home-2-name">1600+ Labs</h4>

				</div> <!--col -->

				<div class="col-md-3 col-sm-6 col-xs-6" id="bg_icons_2_element">

					<img class="icons-home-2-img" src="../img/01/networking.svg">

					<h3 class="icons-home-2-name">Community</h3>
					<h4 class="icons-home-2-name">20k People</h4>

				</div> <!--col -->

		</div> <!-- row -->

	</div> <!-- containers -->

</div> <!-- header-description-home -->
