
<div id="scroll-anchor"></div>

	<div class="header-description-home" id="soko_description">

		<div class="container">

	<!-------- home-main-description --------->

			<div class="text-block-centered home-main-description-block">

				<h2 class="home-main-description">{{ .item.HomeDescriptionText }}</h2>

			</div> <!-- text-block-centered -->

	<!-------- row logos --------->

				<div class="row home-description-icons-row">

						<div class="col-md-2 col-sm-4 col-xs-4  " id="bg_icons_2_element">

						<a href="education"><img  src="../img/01/i_edu.svg"> <h3>{{ .item.IcoNavItemOne }}</h3></a>

						</div> <!--col -->


						<div class="col-md-2 col-sm-4 col-xs-4  " id="bg_icons_2_element">

						<a href="events"><img  src="../img/01/i_eve.svg"> <h3>{{ .item.IcoNavItemTwo }}</h3></a>

						</div> <!--col -->


						<div class="col-md-2 col-sm-4 col-xs-4  " id="bg_icons_2_element">

						<a href="medialab"><img  src="../img/01/i_ml.svg"><h3>Comunicación</h3></a><!-- {{ .item.IcoNavItemThree }} -->

						</div> <!--col -->

						<div class="clearfix  visible-sm visible-xs"></div>

						<div class="col-md-2 col-sm-4 col-xs-4  " id="bg_icons_2_element">

						<a href="fablab"><img  src="../img/01/i_fl.svg"> <h3>{{ .item.IcoNavItemFour }}</h3></a>

						</div> <!--col -->


						<div class="col-md-2 col-sm-4 col-xs-4  " id="bg_icons_2_element">

						<a href="space"><img  src="../img/01/i_esp.svg"> <h3>{{ .item.IcoNavItemFive }}</h3></a>

						</div> <!--col -->


						<div class="col-md-2 col-sm-4 col-xs-4  " id="bg_icons_2_element">

						<a href="#contact"><img  src="../img/01/Soko Contact Blanc-02.png"> <h3>{{ .item.IcoNavItemSix }}</h3></a>

						</div> <!--col -->

				</div> <!--row-->

		</div> <!-- container -->

	</div> <!-- header-description-home -->
