<div class="photo-buttons">

	<div class="container">

		<div class="row" id="foto-buttons-row">

			<div class="col-md-6 col-sm-6 col-xs-12" id="foto-buttons-col">

				<a href="">
					<div valign="middle" class="foto-button bg-1">
						<div class="overlay-f-b">
	  						<h2>{{ .item.HomePhotoButtonsOverlayTitleOne }}</h2>
	  						<hr>
	  						<p>{{ .item.HomePhotoButtonsOverlayTextOne }}</p>
	  					</div>
	  					<div class="h2but"><h2>{{ .item.HomePhotoButtonsTitleOne }}</h2></div>
	  				</div>
	  			</a>

			</div> <!-- col -->


			<div class="col-md-6 col-sm-6 col-xs-12" id="foto-buttons-col">

				<a href="">
					<div valign="middle" class="foto-button bg-2">
						<div class="overlay-f-b">
	  						<h2>{{ .item.HomePhotoButtonsOverlayTitleTwo }}</h2>
	  						<hr>
	  						<p>{{ .item.HomePhotoButtonsOverlayTextTwo }}</p>
	  					</div>
	  					<div class="h2but"><h2>{{ .item.HomePhotoButtonsTitleTwo }}</h2></div>
	  				</div>
	  			</a>

			</div> <!-- col -->

		</div> <!-- row -->

		<div class="row" id="foto-buttons-row">

			<div class="col-md-6 col-sm-6 col-xs-12" id="foto-buttons-col">

				<a href="">
					<div valign="middle" class="foto-button bg-3">
						<div class="overlay-f-b">
	  						<h2>{{ .item.HomePhotoButtonsOverlayTitleThree }}</h2>
	  						<hr>
	  						<p>{{ .item.HomePhotoButtonsOverlayTextThree }}</p>
	  					</div>
	  					<div class="h2but"><h2>{{ .item.HomePhotoButtonsTitleThree }}</h2></div>
	  				</div>
	  			</a>

			</div> <!-- col -->


			<div class="col-md-6 col-sm-6 col-xs-12" id="foto-buttons-col">

				<a href="">
					<div valign="middle" class="foto-button bg-4">
						<div class="overlay-f-b">
	  						<h2>{{ .item.HomePhotoButtonsOverlayTitleFour }}</h2>
	  						<hr>
	  						<p>{{ .item.HomePhotoButtonsOverlayTextFour }}</p>
	  					</div>
	  					<div class="h2but"><h2>{{ .item.HomePhotoButtonsTitleFour }}</h2></div>
	  				</div>
	  			</a>

			</div> <!-- col -->

		</div> <!-- row -->

	</div> <!-- container -->

</div> <!-- foto buttons -->
