<div class="events-description">

	<div class="container">

		<div class="text-block-centered">

			<h2>{{ .item.HomeEventsTitle }}</h2>

  			<hr>

  			<p> {{ .item.HomeEventsText }}</p>

  			<a href=""><button class="b">{{ .item.HomeEventsButton }}</button></a>

		</div> <!-- text-block-centered -->

	</div> <!-- container -->



<!--- thumbnail slider  -------------------------------------------------------------->


	<div class="events-thumbnail-slider">

	    <div id="thumbnail-slider" class="carousel slide" data-interval="false">

	        <!-- Carousel items -->
	        <div class="carousel-inner">

	            <div class="item active">

		            <div class="row">

			            <div class="col-sm-4" id="thumbnail-slider-item">

				            <div class="menu-item-container">

					            <a href="#"><img src="../img/04/smashing-conf.jpg" alt="" class="img-responsive" width="100%">

						            <div class="menu-item-container-title">

							            <h3>{{ .item.HomeEventsSliderOne }}</h3>

						            </div> <!-- menu-item-container-title -->


						            <div class="menu-item-description">

									    <p>{{ .item.HomeEventsSliderDescriptionOne }}</p>

									</div>  <!-- menu-item-description -->

					            </a>
				            </div>  <!-- menu-item-container -->

				        </div> <!-- col -->



				        <div class="col-sm-4" id="thumbnail-slider-item">

				            <div class="menu-item-container">

					            <a href="#"><img src="../img/04/steam-conf.jpg" alt="" class="img-responsive" width="100%">

						            <div class="menu-item-container-title">

						            <h3>SteamConf</h3>

						            </div>   <!-- menu-item-container-title -->

						            <div class="menu-item-description">

									    <p>Lorem ipsum dolor sit amet anim amet sit id est laborum.</p>

									</div>  <!-- menu-item-description -->

					            </a>
				            </div>  <!-- menu-item-container -->
				        </div> <!-- col -->




				        <div class="col-sm-4" id="thumbnail-slider-item">

				            <div class="menu-item-container">

					            <a href="#"><img src="../img/04/decidim.jpg" alt="" class="img-responsive" width="100%">

						            <div class="menu-item-container-title">
						            <h3>Decidim</h3>
						            </div>     <!-- menu-item-container-title -->

						            <div class="menu-item-description">
									    <p>Lorem ipsum dolor sit amet anim amet sit id est laborum.</p>

									</div>   <!-- menu-item-description -->

					            </a>
				            </div>  <!-- menu-item-container -->
				        </div> <!-- col -->


		            </div><!--/row-->

	            </div><!--/item active-->




	            <div class="item">
	                <div class="row">

		               <div class="col-sm-4" id="event-thumb-button">
						<a href="#" class="thumbnail-image"><img src="../img/04/fab10.jpg" alt="" class="img-responsive"></a>
					</div>

					<div class="col-sm-4" id="event-thumb-button">
						<a href="#" class="thumbnail-image"><img src="../img/04/in3dustry.jpg" alt="" class="img-responsive"></a>
					</div>

		            <div class="col-sm-4">
		                <a href="#x" class="thumbnail-image"><img src="../img/04/in3dustry.jpg" alt="Image" class="img-responsive"></a>
	                </div>


	                </div><!--/row-->
	            </div> <!--/item-->




	            <div class="item">
	                <div class="row">

					    <div class="col-sm-4" id="event-thumb-button">
						<a href="#" class="thumbnail-image"><img src="../img/04/in3dustry.jpg" alt="" class="img-responsive"></a>
					</div>

	                <div class="col-sm-4">
	                    <a href="#x" class="thumbnail-image"><img src="../img/04/smashing-conf.jpg" alt="Image" class="img-responsive"></a>
	                </div>

	                <div class="col-sm-4" id="event-thumb-button">
					    <a href="#" class="thumbnail-image"><img src="../img/04/fab10.jpg" alt="" class="img-responsive"></a>
					</div>

	                </div> <!--/row-->

	            </div> <!--/item-->

	        </div> <!--/carousel-inner-->

	        <a class="left carousel-control" href="#thumbnail-slider" data-slide="prev"><i class="fas fa-chevron-left"></i></a>

	        <a class="right carousel-control" href="#thumbnail-slider" data-slide="next"><i class="fas fa-chevron-right"></i></a>


	    </div> <!--thumbnail-slider-->


	</div>  <!--events-thumbnail-slider-->

</div> <!--events description-->
