<section class="home-companies-section">

	<div class="container">

		<h2 class="h2-title">{{ .item.HomeCompaniesTitle }}</h2>

			<div class="row">

				<div class="companies-logos">
					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/10_ajuntament_barcelona_soko_tech.png" alt=""> <!-- ../img/07/01_google_soko_tech.png-->
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/bcn_activa.png" alt=""> <!-- ../img/07/02_mit_soko_tech.png -->
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/07_lacaixa_soko_tech.png" alt="">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/16_carnegie_mellon_soko_tech.png" alt=""> <!-- ../img/07/04_maker_faire_soko_tech.png-->
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/decode.png" alt="">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/decidim.png" alt="">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/14_fira_bcn_soko_tech.png" alt="">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/generalitat.jpg" alt="">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/17_gigapan_soko_tech.png" alt="">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/08_mobile_world_congress_soko_tech.png" alt="">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/12_fablab_bcn_soko_tech.png" alt="">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/04_maker_faire_soko_tech.png" alt="">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/mozilla-foundation.png" alt="">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/13_la_salle_soko_tech.png" alt="">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/sonard.png" alt="">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/15_nasa_soko_tech.png" alt="">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
						<div class="companies-logo">
							<img class="img-logo" src="../img/07/09_telefonica_soko_tech.png" alt="">
						</div>
					</div>

					<div class="col-md-2 col-xs-6">
					 <div class="companies-logo">
							<img class="img-logo" src="../img/07/orange-foundation.jpg" alt="">
						</div>
			    </div>

					<div class="col-md-2 col-xs-6">
					 <div class="companies-logo">
							<img class="img-logo" src="../img/07/03_smashing_soko_tech.png" alt="">
						</div>
			    </div>

					<div class="col-md-2 col-xs-6">
					 <div class="companies-logo">
							<img class="img-logo" src="../img/07/mit.png" alt="">
						</div>
			    </div>

		   </div>  <!-- container -->

		</div> <!-- row -->

</section> <!-- home-companies-section -->
