<div class="learning-areas">

	<!--<div class="text-block-centered">

		<h2>¿Qué estamos haciendo?</h2>

		<hr>

	</div>--> <!--text-block-centered-->

	<div class="row row-projects">
		<div class="container-projects">
		  <div class="content">
		    <a href="https://2019.steamconf.com/" target="_blank">
		      <div class="content-overlay"></div>
		      <img class="content-image" src="../img/04/2017_steamconf_106.jpg">
		      <div class="content-details fadeIn-bottom">
		        <h3 class="content-title">STEAMConf</h3>
		        <p class="content-text">International Education Conference</p>
		      </div>
		    </a>
		  </div>
		</div>
		<div class="container-projects">
		  <div class="content">
		    <a href="https://makerfaire.com/" target="_blank">
		      <div class="content-overlay"></div>
		      <img class="content-image" src="../img/04/maker-faire.jpg">
		      <div class="content-details fadeIn-bottom">
		        <h3 class="content-title">Maker Faire Barcelona</h3>
		        <p class="content-text">The Biggest Show & Tell on Earth</p>
		      </div>
		    </a>
		  </div>
		</div>
		<div class="container-projects">
		  <div class="content">
		    <a href="https://smashingconf.com/sf-2019/" target="_blank">
		      <div class="content-overlay"></div>
		      <img class="content-image" src="../img/04/smashing-conf.jpg">
		      <div class="content-details fadeIn-bottom">
		        <h3 class="content-title">Smashing Conference</h3>
		        <p class="content-text">Professional web designers and web developers event</p>
		      </div>
		    </a>
		  </div>
		</div>
	<div class="container-projects">
	  <div class="content">
	    <a href="education" target="_blank">
	      <div class="content-overlay"></div>
	      <img class="content-image" src="../img/03/cursos.jpg">
	      <div class="content-details fadeIn-bottom">
	        <h3 class="content-title">SokoKids</h3>
	        <p class="content-text">Programs, Workshops & Projects</p>
	      </div>
	    </a>
	  </div>
	</div>

	<div class="container-projects">
	  <div class="content">
	    <a href="fablab" target="_blank">
	      <div class="content-overlay"></div>
	      <img class="content-image" src="../img/04/create.jpg">
	      <div class="content-details fadeIn-bottom">
	        <h3 class="content-title">Lab / Design</h3>
	        <p class="content-text">Product design, 3d printing, laser cutting, etc.</p>
	      </div>

	    </a>
	  </div>
	</div>

	<div class="container-projects" style="margin-bottom:5%">
	  <div class="content">
	    <a href="space" target="_blank">
	      <div class="content-overlay"></div>
	      <img class="content-image" src="../img/03/install.jpg">
	      <div class="content-details fadeIn-bottom">
	        <h3 class="content-title">Space</h3>
	        <p class="content-text">Space Rental, Facilitation & Workshops</p>
	      </div>
	    </a>
	  </div>
	</div>


		 </div>
		 <!--<div class="col-md-12 col-sm-12 col-xs-12" id="learning-areas-buttons-element">

							 <a href=""><button class="b">Leer más</button></a>
		 </div>-->

</div> <!-- learning-areas -->
