<div class="learning-areas">

	<div class="text-block-centered">

		<h2>¿Qué estamos haciendo?</h2>

		<hr>

	</div> <!--text-block-centered-->

	<div class="container">

		<div class="row">

			<div class="col-md-3 col-sm-6 col-xs-6" id="learning-areas-element">

				<img id="img-project" src="../img/01_1/project_1.jpg" alt="impresion 3d"/>

				<h3>Impresión 3D</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<div id="learning-areas-projects-buttons-element" >

		            <a class="button-projects" href="">Leer más</a>

		    	</div> <!-- col -->


			</div> <!-- col -->

			<div class="col-md-3 col-sm-6 col-xs-6" id="learning-areas-element">

				<img id="img-project" src="../img/01_1/project_2.jpg" alt="modelado 3d"/>

				<h3>Modelado 3D</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<div id="learning-areas-projects-buttons-element" >

		            <a class="button-projects" href="">Leer más</a>

		    	</div> <!-- col -->

			</div> <!-- col -->

			<div class="col-md-3 col-sm-6 col-xs-6" id="learning-areas-element">

				<img id="img-project" src="../img/01_1/project_3.jpg" alt="arduino"/>

				<h3>Arduino</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<div id="learning-areas-projects-buttons-element" >

		            <a class="button-projects" href="">Leer más</a>

		    	</div> <!-- col -->

			</div> <!-- col -->

			<div class="col-md-3 col-sm-6 col-xs-6" id="learning-areas-element">

				<img  id="img-project" src="../img/01_1/project_4.jpg" alt="game dev" class="projects"/>

				<h3>Game Dev</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<div id="learning-areas-projects-buttons-element" >

		            <a class="button-projects" href="">Leer más</a>

		    	</div> <!-- col -->

			</div> <!-- col -->

			<div class="col-md-3 col-sm-6 col-xs-6" id="learning-areas-element2">

				<img  id="img-project2" src="../img/01_1/project_5.jpg" alt="game dev" class="projects"/>

				<h3>Impresión 3D</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<div id="learning-areas-projects-buttons-element" >

		            <a class="button-projects" href="">Leer más</a>

		    	</div> <!-- col -->

			</div> <!-- col -->

			<div class="col-md-3 col-sm-6 col-xs-6" id="learning-areas-element2">

				<img  id="img-project2" src="../img/01_1/project_6.jpg" alt="game dev" class="projects"/>

				<h3>Modelado 3D</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<div id="learning-areas-projects-buttons-element" >

		            <a class="button-projects" href="">Leer más</a>

		    	</div> <!-- col -->

			</div> <!-- col -->

			<div class="col-md-3 col-sm-6 col-xs-6" id="learning-areas-element2">

				<img  id="img-project2" src="../img/01_1/project_7.jpg" alt="game dev" class="projects"/>

				<h3>Arduino</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<div id="learning-areas-projects-buttons-element" >

		            <a class="button-projects" href="">Leer más</a>

		    	</div> <!-- col -->

			</div> <!-- col -->

			<div class="col-md-3 col-sm-6 col-xs-6" id="learning-areas-element2">

				<img  id="img-project2" src="../img/01_1/project_8.jpg" alt="game dev" class="projects"/>

				<h3>Game Dev</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

				<div id="learning-areas-projects-buttons-element" >

		            <a class="button-projects" href="">Leer más</a>

		    	</div> <!-- col -->

			</div> <!-- col -->

			<div class="col-md-12 col-sm-12 col-xs-12" id="learning-areas-buttons-element">

		            <a href=""><button class="b">Leer más</button></a>

		 </div> <!-- col -->

		</div> <!-- row -->

	</div> <!-- container -->


</div> <!-- learning-areas -->
