<div class="learning-areas">

	<!--<div class="text-block-centered">

		<h2>¿Qué estamos haciendo?</h2>

		<hr>

	</div>--> <!--text-block-centered-->

	<div class="row row-projects">
		<div class="container-projects">
		  <div class="content">
		    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
		      <div class="content-overlay"></div>
		      <img class="content-image" src="../img/01_1/project_1.jpg">
		      <div class="content-details fadeIn-bottom">
		        <h3 class="content-title">STEAMConf</h3>
		        <p class="content-text">This is a short description</p>
		      </div>
		    </a>
		  </div>
		</div>
		<div class="container-projects">
		  <div class="content">
		    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
		      <div class="content-overlay"></div>
		      <img class="content-image" src="../img/01_1/project_2.jpg">
		      <div class="content-details fadeIn-bottom">
		        <h3 class="content-title">Maker Faire Barcelona</h3>
		        <p class="content-text">This is a short description</p>
		      </div>
		    </a>
		  </div>
		</div>
		<div class="container-projects">
		  <div class="content">
		    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
		      <div class="content-overlay"></div>
		      <img class="content-image" src="../img/01_1/project_3.jpg">
		      <div class="content-details fadeIn-bottom">
		        <h3 class="content-title">MESH</h3>
		        <p class="content-text">This is a short description</p>
		      </div>
		    </a>
		  </div>
		</div>
	<div class="container-projects">
	  <div class="content">
	    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
	      <div class="content-overlay"></div>
	      <img class="content-image" src="../img/01_1/project_4.jpg">
	      <div class="content-details fadeIn-bottom">
	        <h3 class="content-title">STEAMConf</h3>
	        <p class="content-text">This is a short description</p>
	      </div>
	    </a>
	  </div>
	</div>

	<div class="container-projects">
	  <div class="content">
	    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
	      <div class="content-overlay"></div>
	      <img class="content-image" src="../img/01_1/project_5.jpg">
	      <div class="content-details fadeIn-bottom">
	        <h3 class="content-title">This is a title</h3>
	        <p class="content-text">This is a short description</p>
	      </div>
	    </a>
	  </div>
	</div>

	<div class="container-projects" style="margin-bottom:5%">
	  <div class="content">
	    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
	      <div class="content-overlay"></div>
	      <img class="content-image" src="../img/01_1/project_6.jpg">
	      <div class="content-details fadeIn-bottom">
	        <h3 class="content-title">This is a title</h3>
	        <p class="content-text">This is a short description</p>
	      </div>
	    </a>
	  </div>
	</div>


		 </div>
		 <!--<div class="col-md-12 col-sm-12 col-xs-12" id="learning-areas-buttons-element">

							 <a href=""><button class="b">Leer más</button></a>
		 </div>-->

</div> <!-- learning-areas -->
