<div class="media-lab">

	<div class="pic-bg">

    	<div class="over-pic-bg">

			<div class="container" id="lab-description-container">

				<div class="text-block-centered">

					<h2>Soko Media Lab</h2>

		  			<hr>

		  			<p>Tenemos todo lo necesario para crear desde un producto o una página web, hasta un videojuego. Si necesitas asesoramiento no dudes en llamar.</p>

		  	    </div> <!--col-->


						<div class="learning-areas-buttons">

							<div class="container">

								<div class="row">

									<div class="col-md-12" id="learning-areas-buttons-element">

													<a href=""><button class="b">Leer más</button></a>

									</div> <!-- col -->


								</div> <!-- row -->

							</div> <!-- container -->

						</div> <!--  learning-areas-buttons -->


				</div> <!-- col -->

				</div> <!--col-->

			</div> <!--container-->

	    </div> <!--over pic bg-->

	</div> <!--pic bg-->

</div> <!--lab section-->
