<div class="companies">

	<div class="container" id="companies-container">

		<div class="row">

			<div class="col-md-6">

				<div align="left" id="companies">

					<div id="cont-comp">

					<div id="comp"></div>

				</div>  <!--cont-comp-->



				<div id="cont-comp">

					<div id="comp-nasa"><a href="https://www.nasa.gov/"><img src="../img/07/__nasa.svg"></a></div>
					<div id="text-comp"><p>Nasa</p></div>

				</div>  <!--cont-comp-->



				<div id="cont-comp">

					<div id="comp"><a href="https://fablabbcn.org/"><img src="../img/07/__fablab-b.svg"></a></div>
					<div id="text-comp"><p>FabLab Barcelona</p></div>

				</div>  <!--cont-comp-->



				<div id="cont-comp">

					<div id="comp"><a href="https://www.googleforentrepreneurs.com/"><img src="../img/07/__google.svg"></a></div>

					<div id="text-comp"><p>Google for Entrepreneurs</p></div>

				</div>   <!--cont-comp-->



				<div id="cont-comp">

					<div id="comp"><a href="https://www.firabarcelona.com/"><img src="../img/07/__fira-b.svg"></a></div>
					<div id="text-comp"><p>Fira barcelona</p></div>

				</div>  <!--cont-comp-->



				<div id="cont-comp">

					<div id="comp"><a href="https://www.thegbfoods.com/es"><img src="../img/07/__gb.svg"></a></div>
					<div id="text-comp"><p>GB Foods</p></div>

				</div>   <!--cont-comp-->




				<div id="cont-comp">

					<div id="comp"><a href="https://www.basf.com/es/es.html"><img src="../img/07/__basf.svg"></a></div>
					<div id="text-comp"><p>Basf</p></div>

				</div>  <!--cont-comp-->




				<div id="cont-comp">

					<div id="comp"><a href="http://www.mit.edu/"><img src="../img/07/__mit.svg"></a></div>
					<div id="text-comp"><p>Massachusetts Institute of Technology</p></div>

				</div>   <!--cont-comp-->




				<div id="cont-comp">

					<div id="comp"><a href="https://makerfaire.com/"><img src="../img/07/__makerfaire.svg"></a></div>
					<div id="text-comp"><p>Maker Faire</p></div>

				</div>  <!--cont-comp-->




				<div id="cont-comp">

					<div id="comp"><a href="https://ajuntament.barcelona.cat/es/"><img src="../img/07/__ajuntament-b.svg"></a></div>
					<div id="text-comp"><p>Ajuntament de Barcelona</p></div>

				</div>   <!--cont-comp-->




				<div id="cont-comp">

					<div id="comp"><a href="https://www.fundacionbancarialacaixa.org/corporate/home_es.html"><img src="../img/07/__la-caixa.svg"></a></div>
					<div id="text-comp"><p>La Caixa Foundation</p></div>

				</div>  <!--cont-comp-->




				<div id="cont-comp">

					<div id="comp"><a href="https://www.smashingmagazine.com/"><img src="../img/07/__smashing.svg"></a></div>
					<div id="text-comp"><p>Smashing Magacine</p></div>

				</div>   <!--cont-comp-->


				</div>  <!--companies-->


			</div> <!--col-->




			<div class="col-md-6" id="companies-text-block">

				<h2>Empresas felices</h2>

	  			<hr class="companies-hr">

	  			<p>Estas empresas confían en nosotros, por el trabajo bien hecho. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a nibh ut ante varius laoreet.</p>

			</div> <!--col-->



		</div> <!--row-->

	</div> <!--container-->

</div> <!--companies-->
