<div class="meet-the-team">

	<div class="container">

		<div class="text-block-centered">

			<h2>Conoce al Equipo</h2>
		  	<hr>

		</div>  <!-- text-block-centered -->

<div class="member-block">

	<div align="center" id="col3-5-center">

			<div id="team-member">
				<div class="m1"></div>
				<div class="tm-over">
				</div> <!-- tm-over -->
				<div class="tm-text"><h3>Mariona</h3> <p>CEO</p> </div>
			</div> <!-- team-member -->

			<div id="team-member">
				<div class="m2"></div>
				<div class="tm-over">
				</div> <!-- tm-over -->
				<div class="tm-text"><h3>Ian</h3> <p>CEO & Event Manager</p> </div>
			</div> <!-- team-member -->

			<div id="team-member">
				<div class="m3"></div>
				<div class="tm-over">
				</div> <!-- tm-over -->
				<div class="tm-text"><h3>Anna</h3> <p>CEO & Event Manager</p> </div>
			</div> <!-- team-member -->

			<div id="team-member">
				<div class="m4"></div>
				<div class="tm-over">
				</div> <!-- tm-over -->
				<div class="tm-text"><h3>Moira</h3> <p>COO</p> </div>
			</div> <!-- team-member -->

			<div id="team-member">
				<div class="m5"></div>
				<div class="tm-over">
				</div> <!-- tm-over -->
				<div class="tm-text"><h3>holA</h3> <p>CEO</p> </div>
			</div> <!-- team-member -->

			<div id="team-member">
				<div class="m6"></div>
				<div class="tm-over">
				</div> <!-- tm-over -->
				<div class="tm-text"><h3>Edgar</h3> <p>Design and Lab Manager</p> </div>
			</div> <!-- team-member -->

			<div id="team-member">
				<div class="m7"></div>
				<div class="tm-over">
				</div> <!-- tm-over -->
				<div class="tm-text"><h3>Pere</h3> <p>Projekt and Design Manager</p> </div>
			</div> <!-- team-member -->

			<div id="team-member">
				<div class="m8"></div>
				<div class="tm-over">
				</div> <!-- tm-over -->
				<div class="tm-text"><h3>Cristina</h3> <p>Event Manager</p> </div>
			</div> <!-- team-member -->

		</div>  <!-- col3-5-center -->

</div>



	</div> <!-- container -->

</div> <!-- meet the team -->
