<section class="test-header-description" id="page-description">

		<div class="container description">

			<div class="row">

				<div class="col-md-6 col-sm-6 col-xs-12 title">
					<div class="tagline">
						<h2>EDUCATION</h2>
						<h4 style="text-align:left">The hands are the instruments of human intelligence - Dr. Maria Montessori</h4>
						<br>
						<br>
						<p>“The next phase of the Digital Revolution will bring a true fusion of technology with the creative industries. This innovation will come from people who are able to link beauty to engineering, humanity to technology, and poetry to processors. In other words, it will come from the spiritual heirs of Ada Lovelace, creators who can flourish where the arts intersect with the sciences and who have a rebellious sense of wonder that opens them to the beauty of both" - Walter Isaacson</p>
					</div>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12 video">
					<div class="video-content">
						<!-- <iframe width="510" height="315" src="https://www.youtube.com/embed/-G_OQHmcKEE"
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe> -->
						<img src="../img/03/cursos.jpg" alt="">
					</div>
				</div>	<!-- col-->
			</div>		<!--row-->
		</div>	<!-- container-->
</section>
