<div class="education-upcoming-workshops">

	<div class="container">

		<div class="text-block-centered-upcoming-workshops">

			<h2>workshops</h2>

  			<hr>

		</div> <!-- text-block-centered -->
	</div> <!-- container -->

	<div class="row row-projects">
		<div class="container-projects">
		  <div class="content">
		    <a href="#" target="">
		     <div class="content-overlay"></div>
		      <img class="content-image" src="../img/03/ws-1.jpg">
		      <div class="content-details fadeIn-bottom">
		        <h3 class="content-title">Workshop 1</h3>
		        <p class="content-text">This is a short description</p>
		      </div>
		    </a>
		  </div>
		</div>

		<div class="container-projects">
		  <div class="content">
		    <a href="#" target="_blank">
		      <div class="content-overlay"></div>
		      <img class="content-image" src="../img/03/ws-7.jpg">
		      <div class="content-details fadeIn-bottom">
		        <h3 class="content-title">Workshop 2</h3>
		        <p class="content-text">This is a short description</p>
		      </div>

		    </a>
		  </div>
		</div>

		<div class="container-projects">
		  <div class="content">
		    <a href="#" target="_blank">
		      <div class="content-overlay"></div>
		      <img class="content-image" src="../img/03/ws-3.jpg">
		      <div class="content-details fadeIn-bottom">
		        <h3 class="content-title">Workshop 3</h3>
		        <p class="content-text">This is a short description</p>
		      </div>
		    </a>
		  </div>
		</div>
		<div class="container-projects">
		  <div class="content">
		    <a href="#" target="_blank">
		      <div class="content-overlay"></div>
		      <img class="content-image" src="../img/03/ws-4.jpg">
		      <div class="content-details fadeIn-bottom">
		        <h3 class="content-title">Workshop 4</h3>
		        <p class="content-text">This is a short description</p>
		      </div>
		    </a>
		  </div>
		</div>
		<div class="container-projects">
		  <div class="content">
		    <a href="#" target="_blank">
		      <div class="content-overlay"></div>
		      <img class="content-image" src="../img/03/ws-5.jpg">
		      <div class="content-details fadeIn-bottom">
		        <h3 class="content-title">Workshop 5</h3>
		        <p class="content-text">This is a short description</p>
		      </div>
		    </a>
		  </div>
		</div>
		<div class="container-projects"  style="margin-bottom:5%">
		  <div class="content">
		    <a href="#" target="_blank">
		      <div class="content-overlay"></div>
		      <img class="content-image" src="../img/03/ws-6.jpg">
		      <div class="content-details fadeIn-bottom">
		        <h3 class="content-title">Workshop 6</h3>
		        <p class="content-text">This is a short description</p>
		      </div>
		    </a>
		  </div>
		</div>

</div>

</div> <!--footer-->
