<div class="education-upcoming-workshops">

	<div class="container">

		<div class="text-block-centered">

			<h2>Próximos talleres</h2>

  			<hr>

		</div> <!-- text-block-centered -->
	</div> <!-- container -->

	<div class="row row-projects">
		<div class="container-projects">
		  <div class="content">
		    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
		      <div class="content-overlay"></div>
		      <img class="content-image" src="../img/04/steam-conf.jpg">
		      <div class="content-details fadeIn-bottom">
		        <h3 class="content-title">STEAMConf</h3>
		        <p class="content-text">This is a short description</p>
		      </div>
		    </a>
		  </div>
		</div>
		<div class="container-projects">
		  <div class="content">
		    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
		      <div class="content-overlay"></div>
		      <img class="content-image" src="../img/04/mf-event.jpg">
		      <div class="content-details fadeIn-bottom">
		        <h3 class="content-title">Maker Faire Barcelona</h3>
		        <p class="content-text">This is a short description</p>
		      </div>
		    </a>
		  </div>
		</div>
		<div class="container-projects">
		  <div class="content">
		    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
		      <div class="content-overlay"></div>
		      <img class="content-image" src="../img/04/smashing-conf.jpg">
		      <div class="content-details fadeIn-bottom">
		        <h3 class="content-title">Smashing Conference</h3>
		        <p class="content-text">This is a short description</p>
		      </div>
		    </a>
		  </div>
		</div>
	<div class="container-projects">
	  <div class="content">
	    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
	      <div class="content-overlay"></div>
	      <img class="content-image" src="../img/03/cursos.jpg">
	      <div class="content-details fadeIn-bottom">
	        <h3 class="content-title">SokoKids</h3>
	        <p class="content-text">This is a short description</p>
	      </div>
	    </a>
	  </div>
	</div>

	<div class="container-projects">
	  <div class="content">
	    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
	      <div class="content-overlay"></div>
	      <img class="content-image" src="../img/03/fablab.jpg">
	      <div class="content-details fadeIn-bottom">
	        <h3 class="content-title">Create</h3>
	        <p class="content-text">This is a short description</p>
	      </div>

	    </a>
	  </div>
	</div>

	<div class="container-projects" style="margin-bottom:5%">
	  <div class="content">
	    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
	      <div class="content-overlay"></div>
	      <img class="content-image" src="../img/03/install.jpg">
	      <div class="content-details fadeIn-bottom">
	        <h3 class="content-title">Space</h3>
	        <p class="content-text">This is a short description</p>
	      </div>
	    </a>
	  </div>
	</div>
	
</div>

</div> <!--footer-->
