<section class="education-learning-areas">

	<div class="container">

			<div class="row">

				<div class="col-md-6 col-sm-12 col-xs-12">

						<h2 class="h2-title-pages">Programs</h2>

						<h4 class="h4-page-subtitle">After-school & School Visits</h4>

						<p class="p-block-description">Applying the project-based learning methodology, this area offers a program of extra-curricular activities that focuses on personalized learning, which uses creativity, teamwork and trial-error solutions, which encourage kids and youth  to take risks and learn from the error, in tune with the real world. The purpose, methodology and proposals of Soko Kids are being extended beyond the center with the organization of all kinds of small and large format ad hoc events for schools, public or private institutions, companies or in the framework of singular activities in the city.</p>

					</div>	<!-- col-->

				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="page-description-img">
						<img src="../img/03/fablabkids.jpg" alt="">
					</div>	<!-- video-->
				</div>	<!-- col-->
			</div>		<!--row-->

	</div>	<!-- container-->

</section> <!-- learning-areas -->
