<div class="education-learning-areas">

	<div class="text-block-centered-education-areas">

		<h2>{{ .item.EducationAreasTitle }}</h2>

		<hr>

	</div> <!--text-block-centered-->



	<div class="container">

		<div class="row">

			<div class="col-md-3" id="learning-areas-element">

				<img src="../../img/05/icon_1.png" alt="impresion 3d"/>

				<h3>{{ .item.EducationAreasOneTitle }}</h3>

				<p>{{ .item.EducationAreasOneText }}</p>

			</div> <!-- col -->




			<div class="col-md-3" id="learning-areas-element">

				<img src="../../img/05/icon_2.png" alt="modelado 3d"/>

				<h3>{{ .item.EducationAreasTwoTitle }}</h3>

				<p>{{ .item.EducationAreasTwoText }}</p>

			</div> <!-- col -->




			<div class="col-md-3" id="learning-areas-element">

				<img src="../../img/05/icon_3.png" alt="arduino"/>

				<h3>{{ .item.EducationAreasThreeTitle }}</h3>

				<p>{{ .item.EducationAreasThreeText }}</p>

			</div> <!-- col -->




			<div class="col-md-3" id="learning-areas-element">

				<img src="../../img/05/icon_4.png" alt="game dev"/>

				<h3>{{ .item.EducationAreasFourTitle }}</h3>

				<p>{{ .item.EducationAreasFourText }}</p>

			</div> <!-- col -->


		</div> <!-- row -->

	</div> <!-- container -->


	<div class="learning-areas-buttons">

		<div class="container">

			<div class="row">


				<div class="text-block-centered" id="learning-areas-buttons-element">

		            <a href=""><button class="b">{{ .item.EducationAreasButton }}</button></a>

		        </div> <!-- col -->


			</div> <!-- row -->

		</div> <!-- container -->

	</div> <!--  learning-areas-buttons -->


</div> <!-- learning-areas -->
