<div class="education-custom-workshops">

	<div class="container">

		<div class="text-block-centered">

			<h2>Talleres a medida</h2>

  			<hr>

		</div> <!-- text-block-centered -->

	</div> <!-- container -->

	<div class="container">

		<div class="row">

			<div class="col-md-3" id="learning-areas-element">

				<img src="../../img/05/icon_1.png" alt="impresion 3d"/>

				<h3>Idea</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

			</div> <!-- col -->




			<div class="col-md-3" id="learning-areas-element">

				<img src="../../img/05/icon_2.png" alt="modelado 3d"/>

				<h3>Servicios</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

			</div> <!-- col -->




			<div class="col-md-3" id="learning-areas-element">

				<img src="../../img/05/icon_3.png" alt="arduino"/>

				<h3>Creación</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

			</div> <!-- col -->




			<div class="col-md-3" id="learning-areas-element">

				<img src="../../img/05/icon_4.png" alt="game dev"/>

				<h3>Lanzamiento</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

			</div> <!-- col -->


		</div> <!-- row -->

	</div> <!-- container -->

</div> <!--footer-->
