<div class="education-feedback">

	<div class="container">

		<div class="text-block-centered">

			<h2>Opiniones</h2>

  			<hr>

		</div> <!-- text-block-centered -->

			<!-- Twitter feedback -->
				<!--<div class="twitter-feedback">
					<a class="twitter-timeline"
				  href="https://twitter.com/sokotech"
				  data-width="600"
				  data-height="550"
					>
					Tweets by @sokotech
					</a>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>-->

			
	</div> <!-- container -->

</div> <!--footer-->
