<section class="test-header-description" id="page-description">

		<div class="container description">

			<div class="row">

				<div class="col-md-6 col-sm-6 col-xs-12 title">
					<div class="tagline">
						<h2>Events</h2>
						<h4 style="text-align:left">Community Events, Workshops</h4>
						<br>
						<br>
						<p>Soko Events brings together an intersectoral team of expert curators in the set up
							 of events related to science, technology and innovation. From the conception of the program to the final implementation, we cover all phases of the organization of small to major events. In these years we have organized quality and impact conferences, local and international, that have brought together more than 100,000 people.
						</p>
					</div>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12 video">
					<div class="video-content">
						<!-- <iframe width="510" height="315" src="https://www.youtube.com/embed/-G_OQHmcKEE"
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe> -->
						<img src="../img/04/steam-conf.jpg" alt="">
					</div>
				</div>	<!-- col-->
			</div>		<!--row-->
		</div>	<!-- container-->
</section>
