<section class="header-description" id="page-description">

		<div class="container">

			<div class="row">

				<div class="col-md-6 col-sm-12 col-xs-12">

						<h2 class="h2-title-pages">Events</h2>

						<h4 class="h4-page-subtitle">From concept to production</h4>

						<p class="p-block-description">Soko Events brings together an intersectoral team of expert curators in the set up of events related to science, technology and innovation. From the conception of the program to the final implementation, we cover all phases of the organization of small to major events. In these years we have organized quality and impact conferences, local and international, that have brought together more than 100,000 people.</p>

					</div>	<!-- col-->

				<div class="col-md-6 col-sm-12 col-xs-12 video">
					<div class="page-description-img">
						<img src="../img/04/mf-event.jpg" alt="">
					</div>	<!-- video-->
				</div>	<!-- col-->

			</div>		<!--row-->
		</div>	<!-- container-->
</section>
