<div class="events-latest-projects">

	<div class="container">

		<div class="text-block-centered">

			<h2 class="h2-title">Community Events</h2>

  			<hr>

		</div> <!-- text-block-centered -->
		</div>

		<div class="row events-row-projects">
			<div class="container-projects">
				<div class="content">
					<a href="https://2019.steamconf.com/" target="_blank">
						<div class="content-overlay"></div>
						<img class="content-image" src="../img/04/steam-conf.jpg">
						<div class="content-details fadeIn-bottom">
							<h3 class="content-title">STEAMConf</h3>
							<p class="content-text">International Education Conference</p>
						</div>
					</a>
				</div>
			</div>
			<div class="container-projects">
				<div class="content">
					<a href="https://makerfaire.com/" target="_blank">
						<div class="content-overlay"></div>
						<img class="content-image" src="../img/04/mf-event.jpg">
						<div class="content-details fadeIn-bottom">
							<h3 class="content-title">Maker Faire Barcelona</h3>
							<p class="content-text">The Biggest Show & Tell on Earth</p>
						</div>
					</a>
				</div>
			</div>
			<div class="container-projects">
				<div class="content">
					<a href="https://smashingconf.com/sf-2019/" target="_blank">
						<div class="content-overlay"></div>
						<img class="content-image" src="../img/04/fab10.jpg">
						<div class="content-details fadeIn-bottom">
							<h3 class="content-title">Fab10 Fab Lab Gathering</h3>
							<p class="content-text">International Fab Lab Conference</p>
						</div>
					</a>
				</div>
			</div>
		<div class="container-projects">
			<div class="content">
				<a href="http://makersupv.com/hebocon/" target="_blank">
					<div class="content-overlay"></div>
					<img class="content-image" src="../img/04/matins-maker.jpg">
					<div class="content-details fadeIn-bottom">
						<h3 class="content-title">Matins Maker</h3>
						<p class="content-text">Maker & DSI Community Gathering</p>
					</div>
				</a>
			</div>
		</div>

		<div class="container-projects">
			<div class="content">
				<a href="https://ajuntament.barcelona.cat/digital/ca/innovacio-digital/make-in-bcn/matins-maker" target="_blank">
					<div class="content-overlay"></div>
					<img class="content-image" src="../img/01/SMASHING_74.jpg">
					<div class="content-details fadeIn-bottom">
						<h3 class="content-title">SmashingConf</h3>
						<p class="content-text">Professional web designers and web developers event</p>
					</div>

				</a>
			</div>
		</div>

		<div class="container-projects" style="margin-bottom:5%">
			<div class="content">
				<a href="https://makerfaire.com/" target="_blank">
					<div class="content-overlay"></div>
					<img class="content-image" src="../img/04/hebocon.JPG">
					<div class="content-details fadeIn-bottom">
						<h3 class="content-title">Hebocon Community Event </h3>
						<p class="content-text">Silly robots competition, the worst robot wins!</p>
					</div>
				</a>
			</div>
		</div>

			 </div>
</div>
