<div class="events-projects-area">

	<div class="container" id="education-upcoming-workshops-title-container">

		<h2 class="h2-title" id="project-tiles-title">Comumunity Events</h2>

	</div>

	<div class="container-fluid">

	<div class="row">
		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			<div class="latest-projects-content">

				<a href="https://2019.steamconf.com/" target="_blank">

					<div class="latest-projects-content-overlay"></div>

					<img class="latest-projects-content-image" src="../img/03/ws-1.jpg">

					<div class="latest-projects-content-details fadeIn-bottom">

						<h3 class="latest-projects-content-title">Personalized Workshops</h3>

						<p class="latest-projects-content-text">We develop ad hoc workshops to fit your needs</p>

					</div>  <!-- latest-projects-content-details -->

				</a>  <!-- button -->

			</div> <!-- latest-projects-content -->

		</div>

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			<div class="latest-projects-content">

				<a href="https://makerfaire.com/" target="_blank">

					<div class="latest-projects-content-overlay"></div>

					<img class="img-fluid latest-projects-content-image" src="../img/03/ws-9.jpg">

					<div class="latest-projects-content-details fadeIn-bottom">

						<h3 class="latest-projects-content-title">Programs for Public Entities</h3>

						<p class="latest-projects-content-text">Design of annual programs for libraries, ludotecas & civic centers</p>

					</div>  <!-- latest-projects-content-details -->

				</a>  <!-- button -->

			</div> <!-- latest-projects-content -->

		</div>

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			 <div class="latest-projects-content">
				<a href="https://smashingconf.com/sf-2019/" target="_blank">
					<div class="latest-projects-content-overlay"></div>
					<img class="latest-projects-content-image" src="../img/03/ws-11.jpg">
					<div class="latest-projects-content-details fadeIn-bottom">
						<h3 class="latest-projects-content-title">Workshops at Companies</h3>
						<p class="latest-projects-content-text">Workshops for your employees and their families</p>
					</div>
				</a>
			</div> <!-- latest-projects-content -->

		</div>

		</div> <!-- row -->

		<div class="row">
		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			<div class="latest-projects-content">
				<a href="education" target="_blank">
					<div class="latest-projects-content-overlay"></div>
					<img class="latest-projects-content-image" src="../img/03/ws-3.jpg">
					<div class="latest-projects-content-details fadeIn-bottom">
						<h3 class="latest-projects-content-title">Fairs & Tradeshows</h3>
						<p class="latest-projects-content-text">Workshops designed to fit your event needs</p>
					</div>
				</a> <!-- space -->
			</div> <!-- latest-projects-content -->

		</div>

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			<div class="latest-projects-content">
				<a href="fablab" target="_blank">
					<div class="latest-projects-content-overlay"></div>
					<img class="latest-projects-content-image" src="../img/03/ws-5.jpg">
					<div class="latest-projects-content-details fadeIn-bottom">
						<h3 class="latest-projects-content-title">Educators Training</h3>
						<p class="latest-projects-content-text">Creative technologies lifelong learning programs</p>
					</div>
				</a> <!-- space -->
			</div> <!-- latest-projects-content -->

		</div>

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			 <div class="latest-projects-content">
				<a href="space" target="_blank">
					<div class="latest-projects-content-overlay"></div>
					<img class="latest-projects-content-image" src="../img/03/ws-10.jpg">
					<div class="latest-projects-content-details fadeIn-bottom">
						<h3 class="latest-projects-content-title">Personalized School Visits</h3>
						<p class="latest-projects-content-text">Come visit our laboratory and be one of us!</p>
					</div>
				</a> <!-- space -->
			</div> <!-- latest-projects-content -->

		</div>  <!-- col -->

		</div>  <!-- row -->

	</div> <!-- container -->

</div>  <!-- events-projects-area -->
