<div class="events-projects-area">

	<div class="container" id="education-upcoming-workshops-title-container">

		<h2 class="h2-title" id="project-tiles-title">Comumunity Events</h2>

	</div>

	<div class="container-fluid">

	<div class="row">
		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			<div class="latest-projects-content">

				<a href="https://2019.steamconf.com/" target="_blank">

					<div class="latest-projects-content-overlay"></div>

					<img class="latest-projects-content-image" src="../img/04/steam-conf.jpg">

					<div class="latest-projects-content-details fadeIn-bottom">

						<h3 class="latest-projects-content-title">STEAMConf</h3>

						<p class="latest-projects-content-text">International Education Conference</p>

					</div>  <!-- latest-projects-content-details -->

				</a>  <!-- button -->

			</div> <!-- latest-projects-content -->

		</div>

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			<div class="latest-projects-content">

				<a href="https://makerfaire.com/" target="_blank">

					<div class="latest-projects-content-overlay"></div>

					<img class="img-fluid latest-projects-content-image" src="../img/04/mf-event.jpg">

					<div class="latest-projects-content-details fadeIn-bottom">

						<h3 class="latest-projects-content-title">Maker Faire Barcelona</h3>

						<p class="latest-projects-content-text">The Biggest Show & Tell on Earth</p>

					</div>  <!-- latest-projects-content-details -->

				</a>  <!-- button -->

			</div> <!-- latest-projects-content -->

		</div>

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			 <div class="latest-projects-content">
				<a href="https://www.fab10.org/en" target="_blank">
					<div class="latest-projects-content-overlay"></div>
					<img class="latest-projects-content-image" src="../img/04/fab10.jpg">
					<div class="latest-projects-content-details fadeIn-bottom">
						<h3 class="latest-projects-content-title">Fab10 Fab Lab Gathering</h3>
						<p class="latest-projects-content-text">International Fab Lab Conference</p>
					</div>
				</a>
			</div> <!-- latest-projects-content -->

		</div>

		</div> <!-- row -->

		<div class="row">
		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			<div class="latest-projects-content">
				<a href="https://ajuntament.barcelona.cat/digital/ca/innovacio-digital/make-in-bcn/matins-maker" target="_blank">
					<div class="latest-projects-content-overlay"></div>
					<img class="latest-projects-content-image" src="../img/04/matins-maker.jpg">
					<div class="latest-projects-content-details fadeIn-bottom">
						<h3 class="latest-projects-content-title">Matins Maker</h3>
						<p class="latest-projects-content-text">Maker & DSI Community Gathering</p>
					</div>
				</a> <!-- space -->
			</div> <!-- latest-projects-content -->

		</div>

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			<div class="latest-projects-content">
				<a href="https://smashingconf.com/sf-2019/" target="_blank">
					<div class="latest-projects-content-overlay"></div>
					<img class="latest-projects-content-image" src="../img/04/SMASHING_90.jpg">
					<div class="latest-projects-content-details fadeIn-bottom">
						<h3 class="latest-projects-content-title">SmashingConf</h3>
						<p class="latest-projects-content-text">Professional web designers and web developers event</p>
					</div>
				</a> <!-- space -->
			</div> <!-- latest-projects-content -->

		</div>

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			 <div class="latest-projects-content">
				<a href="http://makersupv.com/hebocon/" target="_blank">
					<div class="latest-projects-content-overlay"></div>
					<img class="latest-projects-content-image" src="../img/04/hebocon.JPG">
					<div class="latest-projects-content-details fadeIn-bottom">
						<h3 class="latest-projects-content-title">Hebocon Community Event</h3>
						<p class="latest-projects-content-text">Silly robots competition, the worst robot wins!</p>
					</div>
				</a> <!-- space -->
			</div> <!-- latest-projects-content -->

		</div>  <!-- col -->

		</div>  <!-- row -->

	</div> <!-- container -->

</div>  <!-- events-projects-area -->
