<section class="test-header-description" id="page-description">

		<div class="container description">

			<div class="row">

				<div class="col-md-6 col-sm-6 col-xs-12 title">
					<div class="tagline">
						<h2>medialab</h2>
						<h4>Define tagline</h4>
						<br>
						<br>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
							 been the industry's standard dummy text ever since the 1500s, when an unknown printer took
							 a galley of type and scrambled it to make a type specimen book. It has survived not only five
							 centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					</div>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12 video">
					<div class="video-content">
						<!-- <iframe width="510" height="315" src="https://www.youtube.com/embed/-G_OQHmcKEE"
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe> -->
						<img src="../img/03/cursos.jpg" alt="">
					</div>
				</div>	<!-- col-->
			</div>		<!--row-->
		</div>	<!-- container-->
</section>
