<div class="medialab-photo-buttons">

	<div class="container">

		<div class="row" id="foto-buttons-row">

			<div class="col-md-6" id="foto-buttons-col">

				<a href="">
					<div valign="middle" class="foto-button bg-1">
						<div class="overlay-f-b">
	  						<h2>Desarrollo Web</h2>
	  						<hr>
	  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	  					</div>
	  					<div class="h2but"><h2>Desarrollo Web</h2></div>
	  				</div>
	  			</a>

			</div> <!-- col -->


			<div class="col-md-6" id="foto-buttons-col">

				<a href="">
					<div valign="middle" class="foto-button bg-2">
						<div class="overlay-f-b">
	  						<h2>Diseño gráfico</h2>
	  						<hr>
	  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	  					</div>
	  					<div class="h2but"><h2>Diseño gráfico</h2></div>
	  				</div>
	  			</a>

			</div> <!-- col -->

		</div> <!-- row -->

		<div class="row" id="foto-buttons-row">

			<div class="col-md-6" id="foto-buttons-col">

				<a href="">
					<div valign="middle" class="foto-button bg-3">
						<div class="overlay-f-b">
	  						<h2>Social Media</h2>
	  						<hr>
	  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	  					</div>
	  					<div class="h2but"><h2>Social Media</h2></div>
	  				</div>
	  			</a>

			</div> <!-- col -->


			<div class="col-md-6" id="foto-buttons-col">

				<a href="">
					<div valign="middle" class="foto-button bg-4">
						<div class="overlay-f-b">
	  						<h2>Prensa</h2>
	  						<hr>
	  						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	  					</div>
	  					<div class="h2but"><h2>Prensa</h2></div>
	  				</div>
	  			</a>

			</div> <!-- col -->

		</div> <!-- row -->

	</div> <!-- container -->

</div> <!-- foto buttons -->
