<section class="test-header-description" id="page-description">

		<div class="container description">

			<div class="row">

				<div class="col-md-6 col-sm-6 col-xs-12 title">
					<div class="tagline">
						<h2>Lab / Design</h2>
						<h4>Define tagline</h4>
						<br>
						<br>
						<p>Soko Lab has a multidisciplinary team of technologists and educators that offer opportunities for youngsters and adults to participate in learning and training experiences at the pace of progressive technological changes. We design and implement workshops and courses for kids, youth and adults.</p>
					</div>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12 video">
					<div class="video-content">
						<!-- <iframe width="510" height="315" src="https://www.youtube.com/embed/-G_OQHmcKEE"
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe> -->
						<img src="../img/04/create.jpg" alt="">
					</div>
				</div>	<!-- col-->
			</div>		<!--row-->
		</div>	<!-- container-->
</section>
