<section class="header-description" id="page-description">

		<div class="container">

			<div class="row">

				<div class="col-md-6 col-sm-12 col-xs-12">

						<h2 class="h2-title-pages">Lab / Design</h2>

						<h4 class="h4-page-subtitle">Product design, 3d printing, laser cutting, etc.</h4>

						<p class="p-block-description">Soko Lab has a multidisciplinary team of technologists and educators that offer opportunities for youngsters and adults to participate in learning and training experiences at the pace of progressive technological changes. We design and implement workshops and courses for kids, youth and adults.</p>

					</div>	<!-- col-->

				<div class="col-md-6 col-sm-12 col-xs-12 video">
					<div class="page-description-img">
						<img src="../img/04/create.jpg" alt="">
					</div>	<!-- video-->
				</div>	<!-- col-->

			</div>		<!--row-->
		</div>	<!-- container-->
</section>
