<div class="medialab-more-info">

	<div class="container" id="companies-container">

		<div class="row" id="medialab-1">

			<div class="col-md-6">

          <img class="img_responsive" src="../13/medialab-1.jpg" alt="fablab 1" >

			</div> <!--col-->


			<div class="col-md-6" id="companies-text-block">

				<h2>Experimenta un fablab</h2>

	  			<hr class="companies-hr">

	  			<p>Estas empresas confían en nosotros, por el trabajo bien hecho. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a nibh ut ante varius laoreet.</p>

			</div> <!--col-->

		</div> <!--row-->


		<div class="row" id="medialab-2">

			<div class="col-md-6">

				<h2>Cursos especializados</h2>

					<hr class="companies-hr">

					<p>Estas emaspresas confían en nosotros, por el trabajo bien hecho. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a nibh ut ante varius laoreet.</p>

			</div> <!--col-->


			<div class="col-md-6" id="companies-text-block">

				<img class="img_responsive" src="../13/medialab-2.jpg" alt="fablab 2" >

			</div> <!--col-->

		</div> <!--row-->


	</div> <!--container-->

</div> <!--companies-->
