<header class="header-section-page">

	<!-- sticky nav -->

		<div class="main-navigation-page">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="preheader">
					<div class="social-media">
						<a href="https://www.facebook.com/sokotech/" class="facebook">
							<img src="../img/10/f.png" class="icon" alt=""/></a>
						<a href="https://www.twitter.com/sokotech/" class="twitter">
							<img src="../img/10/tw.png" class="icon" alt=""/></a>
						<a href="https://www.instagram.com/sokotech/" class="instagram">
							<img src="../img/10/ins.png" class="icon" alt=""/></a>
						<!--<a href="https://www.linkedin.com/company/sokotech" class="linkedin">
							<img src="../img/10/lin.png" class="icon" alt=""/></a>-->
					</div>
				</div>
			  <div class="container-fluid" style="height:80px">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="../"> <img src="../../img/01/logo-black.svg" alt="sokotech"> </a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

						<ul class="nav navbar-nav navbar-right">
				        <li><a href="events" style="font-weight: bold">Home</a></li><!--{{ .item.StNavItemOne }}-->
								<!--{{ .item.StNavItemTwo }}-->
								<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
									role="button" aria-haspopup="true" aria-expanded="false" style="font-weight: bold">Projects<span
									class="caret"></span></a>
									<ul class="dropdown-menu" id="lang-selector">
										<li><a href="#" style="font-weight: bold;">Education</a></li>
										<li><a href="#" style="font-weight: bold;">Comunication</a></li>
										<li><a href="#" style="font-weight: bold;">Events</a></li>
										<li><a href="#" style="font-weight: bold;">Lab / Design</a></li>
										<li><a href="#" style="font-weight: bold;">Space (Rental)</a></li>
									</ul>
								</li>
								<!--<li><a href="fablab">{{ .item.StNavItemThree }}</a></li>
								<li><a href="about">{{ .item.StNavItemFour }}</a></li>-->
								<li><a href="#contact" style="font-weight: bold">Contact</a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
									role="button" aria-haspopup="true" aria-expanded="false" style="font-weight: bold">Language<span
									class="caret"></span></a>
		          	<ul class="dropdown-menu" id="lang-selector">
		           	<li><a href="#" style="font-weight: bold">CAT</a></li>
		            <li><a href="#" style="font-weight: bold">ES</a></li>
		            <li><a href="#" style="font-weight: bold">ENG</a></li>
									</ul>
		        				</li>
				      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
				<div class="breadcrumb-bar">
					<ol class="breadcrumb">
						<li><a href="../">Home</a></li>
						<li><a href="#">Space</a></li>
					</ol>
				</div>
			</nav>
		</div><!-- /.main navigation -->

	<!-- end of sticky nav -->



</header> <!--header-section-->
