<div class="header-description" id="page_description">

	<div class="container">

		<div class="text-block-centered-space">

			<h2>Espacios exclusivos para tus eventos</h2>

  			<hr>

  			<p> SokoTech es una fábrica de ideas en la cual todo el mundo puede colaborar, aprender, diseñar. Gracias a nuestras instalaciones, la FabLab y MediaLab tenemos la posibilidad de materializar las ideas. Además, de organizar eventos para la divulgación de la tecnología, matemáticas y ciencia.</p>

  			<a href=""><button class="b">Leer más</button></a>

		</div> <!-- text-block-centered -->

	</div> <!-- container -->

</div> <!-- header-description -->
