<section class="test-header-description" id="page-description">

		<div class="container description">

			<div class="row">

				<div class="col-md-6 col-sm-6 col-xs-12 title">
					<div class="tagline">
						<h2 class="h2-title">Space</h2>
						<h4 style="text-align:left">Space Rental, Facilitation & Workshops</h4>
						<br>
						<br>
						<p>The ​factory, which unfolds its wings on two streets in front of a green square, is adjacent to an amazing urban network of small wooded streets, which still retains plant and early-stage houses from the 20th century.
						<br>
						In spite of this, SokoTech is located in one of the best connected points of the city, thanks to the neighborhood of subway and suburbs.
						<br>
						The space consists of two open spaces: one of 300m2 and 180m2 of industrial style, which houses an office and a Manufacturing Laboratory.
						</p>
					</div>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12 video">
					<div class="video-content-space">
						<!-- <iframe width="510" height="315" src="https://www.youtube.com/embed/-G_OQHmcKEE"
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe> -->
						<img src="../img/03/install.jpg" alt="">
					</div>
				</div>	<!-- col-->
			</div>		<!--row-->

		</div>	<!-- container-->
</section>

<div class="education-upcoming-workshops">

	<div class="container">

		<div class="text-block-centered-upcoming-workshops">

			<!-- <h2 class="h2-title">workshops</h2>

  			<hr> -->

		</div> <!-- text-block-centered -->
	</div> <!-- container -->

	<div class="row">
		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			<div class="latest-projects-content">

				<!-- <a href="https://2019.steamconf.com/" target="_blank"> -->

					<div class="latest-projects-content-overlay"></div>

					<img class="latest-projects-content-image" src="../img/01_1/door.jpg">

					<div class="latest-projects-content-details fadeIn-bottom">

						<h3 class="latest-projects-content-title">Office</h3>

						<!-- <p class="latest-projects-content-text">We develop ad hoc workshops to fit your needs</p> -->

					</div>  <!-- latest-projects-content-details -->

				<!-- </a>  <!-- button -->

			</div> <!-- latest-projects-content -->

		</div>

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			<div class="latest-projects-content">

				<!-- <a href="https://makerfaire.com/" target="_blank"> -->

					<div class="latest-projects-content-overlay"></div>

					<img class="img-fluid latest-projects-content-image" src="../img/01_1/office-2.jpg">

					<div class="latest-projects-content-details fadeIn-bottom">

						<h3 class="latest-projects-content-title">Lab</h3>

						<!-- <p class="latest-projects-content-text">Design of annual programs for libraries, ludotecas & civic centers</p> -->

					</div>  <!-- latest-projects-content-details -->

				 <!-- button -->

			</div> <!-- latest-projects-content -->

		</div>

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			 <div class="latest-projects-content">
				<!-- <a href="https://smashingconf.com/sf-2019/" target="_blank"> -->
					<div class="latest-projects-content-overlay"></div>
					<img class="latest-projects-content-image" src="../img/01_1/space.jpg">
					<div class="latest-projects-content-details fadeIn-bottom">
						<h3 class="latest-projects-content-title">Lab</h3>
						<!-- <p class="latest-projects-content-text">Workshops for your employees and their families</p> -->
					</div>

			</div> <!-- latest-projects-content -->

		</div>

		</div> <!-- row -->

		<div class="row">
		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			<div class="latest-projects-content">
				<!-- <a href="education" target="_blank"> -->
					<div class="latest-projects-content-overlay"></div>
					<img class="latest-projects-content-image" src="../img/01_1/office.jpg">
					<div class="latest-projects-content-details fadeIn-bottom">
						<h3 class="latest-projects-content-title">Define</h3>
						<!-- <p class="latest-projects-content-text">Workshops designed to fit your event needs</p> -->
					</div>
				 <!-- space -->
			</div> <!-- latest-projects-content -->

		</div>

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			<div class="latest-projects-content">
				<!-- <a href="fablab" target="_blank"> -->
					<div class="latest-projects-content-overlay"></div>
					<img class="latest-projects-content-image" src="../img/01_1/lab-2.jpg">
					<div class="latest-projects-content-details fadeIn-bottom">
						<h3 class="latest-projects-content-title">Define</h3>
						<!-- <p class="latest-projects-content-text">Creative technologies lifelong learning programs</p> -->
					</div>
				 <!-- space -->
			</div> <!-- latest-projects-content -->

		</div>

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			 <div class="latest-projects-content">
				<!-- <a href="space" target="_blank"> -->
					<div class="latest-projects-content-overlay"></div>
					<img class="latest-projects-content-image" src="../img/01_1/lab.jpg">
					<div class="latest-projects-content-details fadeIn-bottom">
						<h3 class="latest-projects-content-title">Define</h3>
						<!-- <p class="latest-projects-content-text">Come visit our laboratory and be one of us!</p> -->
					</div>
				 <!-- space -->
			</div> <!-- latest-projects-content -->

		</div>  <!-- col -->

		</div>

</div>
