<section class="test-header-description" id="page-description">

		<div class="container description">

			<div class="row">

				<div class="col-md-6 col-sm-6 col-xs-12 title">
					<div class="tagline">
						<h2>Space</h2>
						<h4>SokoTech is located in a 1920’s ​antique chocolate factory</h4>
						<br>
						<br>
						<p>The ​factory, which unfolds its wings on two streets in front of a green square, is adjacent to an amazing urban network of small wooded streets, which still retains plant and early-stage houses from the 20th century.
						<br>
						In spite of this, SokoTech is located in one of the best connected points of the city, thanks to the neighborhood of subway and suburbs.
						</p>
					</div>
				</div>

				<div class="col-md-6 col-sm-6 col-xs-12 video">
					<div class="video-content">
						<!-- <iframe width="510" height="315" src="https://www.youtube.com/embed/-G_OQHmcKEE"
						frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe> -->
						<img src="../img/03/install.jpg" alt="">
					</div>
				</div>	<!-- col-->
			</div>		<!--row-->
			
		</div>	<!-- container-->
</section>
