<div class="space-areas">

	<div class="container" id="education-upcoming-workshops-title-container">

		<h2 class="h2-title" id="project-tiles-title">Industrial style spaces</h2>

		<h4 class="h4-page-subtitle"></h4>

	</div>

	<div class="row">
		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			<div class="latest-projects-content">

				<!-- <a href="https://2019.steamconf.com/" target="_blank"> -->

					<div class="latest-projects-content-overlay"></div>

					<img class="latest-projects-content-image" src="../img/01_1/door.jpg">

					<div class="latest-projects-content-details fadeIn-bottom">

						<h3 class="latest-projects-content-title">Office</h3>

						<!-- <p class="latest-projects-content-text">We develop ad hoc workshops to fit your needs</p> -->

					</div>  <!-- latest-projects-content-details -->

				<!-- </a>  <!-- button -->

			</div> <!-- latest-projects-content -->

		</div>

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			<div class="latest-projects-content">

				<!-- <a href="https://makerfaire.com/" target="_blank"> -->

					<div class="latest-projects-content-overlay"></div>

					<img class="img-fluid latest-projects-content-image" src="../img/01_1/office-2.jpg">

					<div class="latest-projects-content-details fadeIn-bottom">

						<h3 class="latest-projects-content-title">Lab</h3>

						<!-- <p class="latest-projects-content-text">Design of annual programs for libraries, ludotecas & civic centers</p> -->

					</div>  <!-- latest-projects-content-details -->

				 <!-- button -->

			</div> <!-- latest-projects-content -->

		</div>

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			 <div class="latest-projects-content">
				<!-- <a href="https://smashingconf.com/sf-2019/" target="_blank"> -->
					<div class="latest-projects-content-overlay"></div>
					<img class="latest-projects-content-image" src="../img/01_1/space.jpg">
					<div class="latest-projects-content-details fadeIn-bottom">
						<h3 class="latest-projects-content-title">Lab</h3>
						<!-- <p class="latest-projects-content-text">Workshops for your employees and their families</p> -->
					</div>

			</div> <!-- latest-projects-content -->

		</div>

		</div> <!-- row -->

		<div class="row">
		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			<div class="latest-projects-content">
				<!-- <a href="education" target="_blank"> -->
					<div class="latest-projects-content-overlay"></div>
					<img class="latest-projects-content-image" src="../img/01_1/office.jpg">
					<div class="latest-projects-content-details fadeIn-bottom">
						<h3 class="latest-projects-content-title">Define</h3>
						<!-- <p class="latest-projects-content-text">Workshops designed to fit your event needs</p> -->
					</div>
				 <!-- space -->
			</div> <!-- latest-projects-content -->

		</div>

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			<div class="latest-projects-content">
				<!-- <a href="fablab" target="_blank"> -->
					<div class="latest-projects-content-overlay"></div>
					<img class="latest-projects-content-image" src="../img/01_1/lab-2.jpg">
					<div class="latest-projects-content-details fadeIn-bottom">
						<h3 class="latest-projects-content-title">Define</h3>
						<!-- <p class="latest-projects-content-text">Creative technologies lifelong learning programs</p> -->
					</div>
				 <!-- space -->
			</div> <!-- latest-projects-content -->

		</div>

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

			 <div class="latest-projects-content">
				<!-- <a href="space" target="_blank"> -->
					<div class="latest-projects-content-overlay"></div>
					<img class="latest-projects-content-image" src="../img/01_1/lab.jpg">
					<div class="latest-projects-content-details fadeIn-bottom">
						<h3 class="latest-projects-content-title">Define</h3>
						<!-- <p class="latest-projects-content-text">Come visit our laboratory and be one of us!</p> -->
					</div>
				 <!-- space -->
			</div> <!-- latest-projects-content -->

		</div>  <!-- col -->

		</div>

</div>
