<div class="space-areas">

	<div class="container" id="education-upcoming-workshops-title-container">

		<h2 class="h2-title" id="project-tiles-title">Industrial style</h2>

		<h4 class="h4-page-subtitle">Open Space</h4>

	</div>

	<div class="row">

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

					<img class="latest-projects-content-image" src="../img/01_1/door.jpg">

		</div> <!-- col -->

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

					<img class="img-fluid latest-projects-content-image" src="../img/01_1/office-2.jpg">

		</div> <!-- col -->

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

					<img class="latest-projects-content-image" src="../img/01_1/lab.jpg">

		</div> <!-- col -->

	</div> <!-- row -->

	<div class="row">

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

					<img class="latest-projects-content-image" src="../img/01_1/office.jpg">

			</div> <!-- col -->

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

					<img class="latest-projects-content-image" src="../img/01_1/lab-2.jpg">

		</div> <!-- col -->

		<div class="col-md-4 col-md-6 col-xs-12" id="latest-projects-col">

					<img class="latest-projects-content-image" src="../img/01_1/space.jpg">

			</div> <!-- col -->

		</div> <!-- row -->

</div>
