<div class="space-details">

	<div class="text-block-centered">

		<h2>Caracteristicas de nuestros espacios</h2>

		<hr>

	</div> <!--text-block-centered-->



	<div class="container">

		<div class="row">

			<div class="col-md-3" id="learning-areas-element">

				<img src="../../img/05/icon_1.png" alt="impresion 3d"/>

				<h3>Hasta 60 Pax</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

			</div> <!-- col -->




			<div class="col-md-3" id="learning-areas-element">

				<img src="../../img/05/icon_2.png" alt="modelado 3d"/>

				<h3>170 M2</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

			</div> <!-- col -->




			<div class="col-md-3" id="learning-areas-element">

				<img src="../../img/05/icon_3.png" alt="arduino"/>

				<h3>Aula/Taller</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

			</div> <!-- col -->




			<div class="col-md-3" id="learning-areas-element">

				<img src="../../img/05/icon_4.png" alt="game dev"/>

				<h3>Expertos</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

			</div> <!-- col -->


		</row> <!-- row -->

	</div> <!-- container -->



</div> <!-- learning-areas -->

</div>
