<div class="main-navigation-page">

		<nav class="navbar navbar-default navbar-fixed-top navbar-home">

			<div class="preheader">

				<div class="social-media">

					<a class="top-bar-social-share-icon" href="https://www.facebook.com/sokotech/" class="facebook">
					<img src="../img/10/f.png" class="icon" alt=""/></a>

					<a class="top-bar-social-share-icon" href="https://www.twitter.com/sokotech/" class="twitter">
					<img src="../img/10/tw.png" class="icon" alt=""/></a>

					<a class="top-bar-social-share-icon" href="https://www.instagram.com/sokotech/" class="instagram">
					<img src="../img/10/ins.png" class="icon" alt=""/></a>

				</div>	<!-- social-media -->

			</div>	<!-- preheader -->

			<div class="container-fluid">

				<div class="navbar-header" style="height:87px !important;">

					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>

					</button>	<!-- button -->

					<a class="navbar-brand" href="../"> <img src="../img/01/logo-black.svg" alt="sokotech"> </a>

				</div>	<!-- navbar-header -->

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<ul class="nav navbar-nav navbar-right">

						<li>
							<a href="../">Home</a>
						</li>

						<li>
							<a href="../../about">About</a>
						</li>

						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false">Projects<span
						class="caret"></span></a>

							<ul class="dropdown-menu">

								<li>
									<a href="../../education">Education</a>
								</li>
								<li>
									<a href="../../medialab">Communication</a>
								</li>
								<li>
									<a href="../../events">Events</a>
								</li>
								<li>
									<a href="../../fablab">Lab / Design</a>
								</li>
								<li>
									<a href="../../space">Space</a>
								</li>

							</ul>	<!-- dropdown-menu -->

						</li> <!-- dropdown -->

						<li>
							<a href="#contact">Contact</a>
						</li>

					</ul> <!-- nav navbar-nav -->

				</div><!-- /.navbar-collapse -->

			</div><!-- /.container-fluid -->

			<div class="breadcrumb-bar">
				<ol class="breadcrumb">
					<li><a href="../">Home</a></li>
					<li><a href="#">History</a></li>
				</ol>
			</div>

		</nav> <!-- /.main navigation -->

	</div><!-- /.main navigation -->

	<!-- end of sticky nav -->
