<div class="history-timeline" id="page_description">

	<div class="container" id="history-timeline-container">

		<div class="row">

			<div class="col-md-6" id="history-pic">
	      <img class="img-responsive" src="../img/8_0/cf-04.png" alt="">
			</div> <!--col-->

			<div class="col-md-6" id="history-text">
				<h2 class="h2-title">CHOCOLATE FACTORY</h2>
				<!-- <hr> -->
				<p>The old factory of chocolates “Joaquin Tejedor Chocolates” began to work on October 10, 1929. During the beginnings of Dalmacio de Mur, the building was only a turret and the workshop was located on Berenguer street of Palou. In the vicinity of the year 1947, by the architect of the Andres Guasch, the facilities were expanded. At the end of the year 1960 the factory began to have economic problems and closed its doors in 1960. </p>
			</div> <!--col-->

			<div class="Bubble-h">
					<h4>1929</h4>
				</div>

		</div> <!--row-->



		<div class="row">

			<div class="col-md-6" id="history-text">
				<h2 class="h2-title">EMBROIDERIES FACTORY</h2>
				<!-- <hr> -->
				<p>PUNTIBLOND, founded in 1947, owes its name to its initial dedication to the manufacture of embroideries, lace and tulle. At the end of the 60s it was the first manufacturer in Spain of elastic tricot, which until then was imported from abroad, since no company had the adequate machinery for this production. This was the beginning of an ascending business career, based on the manufacture of exclusive fabrics and high technological level. </p>

			</div> <!--col-->

			<div class="col-md-6" id="history-pic">
				<img class="img-responsive" src="../img/8_0/ef-01.jpg" alt="">
			</div> <!--col-->

			<div class="Bubble-h">
				<!-- <h4>1943</h4> -->
			</div>

		</div> <!--row-->



		<div class="row">

			<div class="col-md-6" id="history-pic">
				<img class="img-responsive" src="../../img/8_0/cf-3.jpg" alt="">
			</div> <!--col-->

			<div class="col-md-6" id="history-text">
				<h2 class="h2-title">PHOTO51</h2>
				<!-- <hr> -->
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.  </p>
			</div> <!--col-->

			<div class="Bubble-h">
					<!-- <h5>Año</h5>
					<h4>1964</h4> -->
				</div>

		</div> <!--row-->



		<div class="row">

			<div class="col-md-6" id="history-text">
				<h2 class="h2-title">SOKOTECH</h2>
				<!-- <hr> -->
				<p>Located in a 1920’s old chocolate factory, SokoTech is a digital social innovation laboratory that brings together an intersectoral team of experts in the design and implementation of local and international events, projects and programs related to art, science and technology.</p>

			</div> <!--col-->

			<div class="col-md-6" id="history-pic">
				<img class="img-responsive" src="../img/01/sokotech-01.jpg" alt="">
			</div> <!--col-->

			<div class="Bubble-h">
					<!-- <h5>Año</h5>
					<h4>1964</h4> -->
				</div>

		</div> <!--row-->

	</div> <!-- history-timeline-container -->


</div> <!-- history-timeline -->
