<div class="history-timeline" id="page_description">

	<div class="container" id="history-timeline-container">

		<div class="row">

			<div class="col-md-6" id="history-pic">
	      <img class="img-responsive" src="../img/8_0/cartel-1.jpg" alt="" style="height: 45% !important;">
			</div> <!--col-->

			<div class="col-md-6" id="history-text">
				<h2 class="h2-title">CHOCOLATE FACTORY</h2>
				<!-- <hr> -->
				<p>The old factory of chocolates “Joaquin Tejedor Chocolates” began to work on October 10, 1929. During the beginnings of Dalmacio de Mur, the building was only a turret and the workshop was located on Berenguer street of Palou. In the vicinity of the year 1947, by the architect of the Andres Guasch, the facilities were expanded. At the end of the year 1960 the factory began to have economic problems and closed its doors in 1960. </p>
			</div> <!--col-->

			<div class="Bubble-h">
					<h4>1929</h4>
				</div>

		</div> <!--row-->



		<div class="row">

			<div class="col-md-6" id="history-text">
				<h2 class="h2-title">EMBROIDERIES FACTORY</h2>
				<!-- <hr> -->
				<p>PUNTIBLOND, founded in 1947, owes its name to its initial dedication to the manufacture of embroideries, lace and tulle. At the end of the 60s it was the first manufacturer in Spain of elastic tricot, which until then was imported from abroad, since no company had the adequate machinery for this production. This was the beginning of an ascending business career, based on the manufacture of exclusive fabrics and high technological level. </p>

			</div> <!--col-->

			<div class="col-md-6" id="history-pic">
				<img class="img-responsive" src="../img/8_0/ef-02.jpg" alt="" style="height: 45% !important">
			</div> <!--col-->

			<div class="Bubble-h">
				<!-- <h4>1943</h4> -->
			</div>

		</div> <!--row-->



		<div class="row">

			<div class="col-md-6" id="history-pic">
				<img class="img-responsive" src="../img/8_0/photo_51.jpg" alt="" style="height: 40% !important">
			</div> <!--col-->

			<div class="col-md-6" id="history-text">
				<h2 class="h2-title">PHOTO51</h2>
				<!-- <hr> -->
				<p>Photo 51 is a communication house that gathers a team of conscious and critical journalists. We aim to raise public awareness of science and technology to foster an awe and curiosity towards the culture of the 21st century. Our goal is to advance the understanding of science and technology among society as a whole, without taking into account age, level of knowledge, status, capacities or gender to engage. Our name is inspired by the double helix photo (X-ray diffraction image of crystallized DNA) of DNA that Rosalind Franklin’s PhD student’s Raymon Gosling took at King’s College and was critical evidence in identifying the structure of DNA.</p>
			</div> <!--col-->

			<div class="Bubble-h">
					<!-- <h5>Año</h5>
					<h4>1964</h4> -->
				</div>

		</div> <!--row-->



		<div class="row">

			<div class="col-md-6" id="history-text">
				<h2 class="h2-title">SOKOTECH</h2>
				<!-- <hr> -->
				<p>Located in a 1920’s old chocolate factory, SokoTech is a digital social innovation laboratory that brings together an intersectoral team of experts in the design and implementation of local and international events, projects and programs related to art, science and technology.</p>

			</div> <!--col-->

			<div class="col-md-6" id="history-pic">
				<img class="img-responsive" src="../img/8_0/soko-tech.jpg" alt="">
			</div> <!--col-->

			<div class="Bubble-h">
					<!-- <h5>Año</h5>
					<h4>1964</h4> -->
				</div>

		</div> <!--row-->

	</div> <!-- history-timeline-container -->


</div> <!-- history-timeline -->
