<div class="history-timeline" id="page_description">

	<div class="flex-container" id="history-timeline-container">



		<div class="row">

			<div class="col-md-6" id="history-pic">
	      <img class="img-responsive" src="../../img/8_0/cf-1.jpg" alt="">
			</div> <!--col-->

			<div class="col-md-6" id="history-text">
				<h2>Fábrica de Chocolate</h2>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum, quam at volutpat aliquam, mi neque lobortis nulla, a egestas nunc nunc ac leo. Etiam elementum est ante, et commodo urna suscipit quis. Maecenas pretium ipsum in leo malesuada aliquet. Suspendisse potenti. In metus turpis, vehicula nec lacinia id, consectetur nec enim. Integer efficitur molestie enim, lacinia convallis est facilisis in. Nunc finibus, lorem sit amet commodo gravida, lacus felis volutpat neque, non viverra purus ipsum ac enim. </p>
			</div> <!--col-->

			<div class="Bubble-h">
					<h5>Año</h5>
					<h4>1929</h4>
				</div>

		</div> <!--row-->



		<div class="row">

			<div class="col-md-6" id="history-text">
				<h2>Fábrica de Chocolate</h2>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum, quam at volutpat aliquam, mi neque lobortis nulla, a egestas nunc nunc ac leo. Etiam elementum est ante, et commodo urna suscipit quis. Maecenas pretium ipsum in leo malesuada aliquet. Suspendisse potenti. In metus turpis, vehicula nec lacinia id, consectetur nec enim. Integer efficitur molestie enim, lacinia convallis est facilisis in. Nunc finibus, lorem sit amet commodo gravida, lacus felis volutpat neque, non viverra purus ipsum ac enim. </p>

			</div> <!--col-->

			<div class="col-md-6" id="history-pic">
				<img class="img-responsive" src="../../img/8_0/cf-2.jpg" alt="">
			</div> <!--col-->

			<div class="Bubble-h">
				<h5>Año</h5>
				<h4>1943</h4>
			</div>

		</div> <!--row-->



		<div class="row">

			<div class="col-md-6" id="history-pic">
				<img class="img-responsive" src="../../img/8_0/cf-3.jpg" alt="">
			</div> <!--col-->

			<div class="col-md-6" id="history-text">
				<h2>Fábrica de Chocolate</h2>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum, quam at volutpat aliquam, mi neque lobortis nulla, a egestas nunc nunc ac leo. Etiam elementum est ante, et commodo urna suscipit quis. Maecenas pretium ipsum in leo malesuada aliquet. Suspendisse potenti. In metus turpis, vehicula nec lacinia id, consectetur nec enim. Integer efficitur molestie enim, lacinia convallis est facilisis in. Nunc finibus, lorem sit amet commodo gravida, lacus felis volutpat neque, non viverra purus ipsum ac enim. </p>
			</div> <!--col-->

			<div class="Bubble-h">
					<h5>Año</h5>
					<h4>1964</h4>
				</div>

		</div> <!--row-->



		<div class="row">

			<div class="col-md-6" id="history-text">
				<h2>Fábrica de Chocolate</h2>
				<hr>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum, quam at volutpat aliquam, mi neque lobortis nulla, a egestas nunc nunc ac leo. Etiam elementum est ante, et commodo urna suscipit quis. Maecenas pretium ipsum in leo malesuada aliquet. Suspendisse potenti. In metus turpis, vehicula nec lacinia id, consectetur nec enim. Integer efficitur molestie enim, lacinia convallis est facilisis in. Nunc finibus, lorem sit amet commodo gravida, lacus felis volutpat neque, non viverra purus ipsum ac enim. </p>

			</div> <!--col-->

			<div class="col-md-6" id="history-pic">
				<img class="img-responsive" src="../../img/8_0/sample.jpg" alt="">
			</div> <!--col-->

			<div class="Bubble-h">
					<h5>Año</h5>
					<h4>1964</h4>
				</div>

		</div> <!--row-->


















	</div> <!-- history-timeline-container -->


</div> <!-- history-timeline -->
