/* ------------------ General ----------------------------------------------- General ----------------------------- */

html {
  scroll-behavior: smooth;
}

header, body, html {
height: 100%;
margin: 0;
}

h1,h2,h3{
	font-family:"Prompt" !important;
	text-transform:uppercase !important;
}
h1{
	font-size: 72px !important;
	color: #fff !important;
	font-weight: 600 !important;
	margin: 0 !important;
	padding: 0 !important;
}

h2 {
	margin: 3% 0 !important;
	font-weight: 500;
}

h3{
	font-size: 18px !important;
	color: #434343 !important;
	font-weight: 500 !important;
}
h4{
	font-family:"roboto" !important;
	text-transform:uppercase !important;
	font-size: 24px !important;
	font-weight: 200 !important;
	margin: 0 !important;
}

a{
	text-decoration: none !important;
	color: #f27222 !important;
}

p{
	font-family:"roboto";
	font-size: 21px;
	color: #434343;
	font-weight: 300;
	line-height: 30px;
	margin: 0;
	padding: 0;
}


hr{
	margin-top: 10px !important;
	height: 3px !important;
	width: 50px !important;
	background: #f27222 !important;
	border-style: none !important;
	margin-bottom: 20px !important;

}

button{
	font-family:"roboto";
	font-size: 16px;
	font-weight: 200;
	margin: 40px;
	margin-top: 50px;
	padding: 10px 70px;
	border-radius: 25px;
}

.b{
	color: #fff;
	background-color: #f27222;
	border-style: none;
	margin: 10% 0 5% 0;
	font-size: 1.3em;
}
.b:hover{
	background-color: #bb5511;
	transition: 0.2s;
}

.b-outlined{
	color: #f27222;
	border-style: solid;
	border-width: 1px;
	border-color: #f27222;
	background: none;
}

.b-outlined-white{
	color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
	background: none;
	font-weight: 200;
}

.b-outlined-white:hover{
	background-color: #fff;
	color: #f27222;
	transition: 0.5s;
}




.margin50{
	margin-bottom: 50px;
	margin-top: 50px;
}

.row {
	margin: 0 !important;
}

.text-block-centered {
  padding-top: 15%;
}



/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

  h2{
  	font-size: 20px;
  }



  p{
  	font-size: 1em;
  	color: #434343;
  	line-height: 26px;
  }

  hr{
  	margin-top: 10px;
  	margin-bottom: 20px;
  }

  button{
  	font-size: 14px;
  	margin: 5% 0 5% 0;
  	padding: 7px 50px;
  }



  .text-block-centered {
    padding-top: 0%;
  }

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

}

/* ------------------ navbar ----------------------------------------- navbar ----------------- */
.navbar-home {
  border-bottom: none !important;
}

.navbar-fixed-top {
  z-index: 15 !important;
  display: block;
  background-color: #fff !important;

}

.navbar-nav > li > a {
  font-size: 1.2em;
  font-weight: 300;
  padding-top: 25px !important;
  padding-bottom: 25px !important;

}

.navbar-nav > li > a:hover{
  color: gray !important;
}

.navbar-brand{
  margin-left: 0px !important;
  width: 150px !important;
}

.navbar-brand img{
  width: 100px !important;
}

.navbar-default {
    border-color: #F27222 !important;
}

.dropdown-menu {
    min-width: 88px !important;
}

.dropdown-menu > li > a:hover{
    color: gray !important;
}


.navbar-toggle {
    padding: 20px 10px;
    border: none;
}

.icon-bar {
    background-color: #000000 !important;
}

.icon-bar:hover {
    background-color: #F27222 !important;
}

.breadcrumb {
    padding: 3px 16px !important;
    margin-bottom: 0px !important;
    list-style: none;
    background-color: #F27222 !important;
    border-radius: 0 !important;
    text-align: right;
}

.breadcrumb li a {
    color: white !important;
    font-size: 0.85em;
}

.breadcrumb-bar {
  background-color: #F27222;
}

/* ------------------ 1_0_home_Header ----------------------------------------- 1_0_home_Header ----------------- */



.header-section-home {
  height: 100%;
}

.logo{
	position: absolute;
	top: 25px;
	left: 25px;
	width: 110px;

}


.st_headline {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.st_headline h1{
   font-size: 2.5em !important;
}



.subhead{
	top: -20px;
	display: inline-block;
	padding: 5px;
	background-color: #fff;
	color: #f27222;
}

.subhead h4 {
  font-size: 1em !important;
}

.arrow{
	display: block;
	width: 75px;
}

.tscr{
	font-family:"roboto";
	font-size: 16px;
	font-weight: 200;
	margin: 0;
	opacity: 0;
}

.tmen {
	font-size: 15px !important;
}


.arrow:hover{
	transform: translateY(20px);
	transition: 0.5s;
}


.arrow:hover .tscr{
	color: white;
    opacity: 1;
    transform: translateY(-10px);
    transition: 0.5s;
}


.bg_img {
	background-color: #f27222;
    /* The image used */
    background-image: url('../img/01/stage.jpg');
    background-blend-mode: multiply;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 11;
    display: block;
    position: relative;
}

.bg_img_page {
	background-color: #f27222;
    /* The image used */
    background-image: url('../img/01/stage.jpg');
    background-blend-mode: multiply;
    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 11;
    display: block;
    position: relative;
}

.bg-img-space {
	background-color: #f27222;
    /* The image used */
    background-image: url('../img/0-07/sokotech_space_stage.jpg');
    background-blend-mode: multiply;
    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 11;
    display: block;
    position: relative;

}


#bg-icons-background-page{
	position: absolute;
  height: 45%;
  top: 75%;
}

#bg-icons-background{
	position: absolute;
  height: 45%;
  top: 75%;
}


#bg-icons-grid{
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 1;
  top: 100%;
  height: 20%;
  background: white;
}

#bg-icons-grid row{
  background-color: white;
}


#bg_icons_2_element{
	text-align: center;
  margin-bottom: 3%;
}

#bg_icons_2_element img{
	width: 50%;
}


#bg_icons_2_element h3{
	font-size: 0.9em !important;
}

#scroll-anchor {
  display: block;
  position: absolute;
  top: 130%;
}



label {
	display: inline !important;
}

input{
  display:none;
}

.square{
  display: flex;
  flex-direction: row;
	padding: 9px;
	width: 90%;
	background-color: #fff;
	margin: 7% auto 4%;
  padding: 0
  align-items: center;
  justify-content: center;
}

.nav {
  .height: 44%;
}

.square-subnav-item-1, .square-subnav-item-2, .square-subnav-item-3{
	color: #f27222;
	font-weight: 400;
  margin: 0 3%;
}

.square-subnav-item-2 {
    border-right: 1px solid #f27222;
    border-left: 1px solid #f27222;
    padding: 0 5%
}

.square-subnav-item-1 h6 a, .square-subnav-item-2 h6 a, .square-subnav-item-3 h6 a{
	font-size: 1.3em;
  font-weight: 300;
}

.subnav:hover {
	text-decoration: underline !important;
}
.overlay{
	position: fixed;
  display: block;
  z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(51,51,51,0.95);
}

.overlay label{
	width: 27px;
	height:25px;
	position: absolute;
	right: 25px;
	top: 30px;
	background: url('../img/01/close.svg');
	z-index: 100;
    cursor:pointer;
}

.overlay nav {
	text-align: center;
	position: relative;
	font-family: 'roboto';
	font-size: 48px;
	font-weight: 200;
	color: white;
	top: 35%;
	height: 40%;
	line-height: 50px;
	-webkit-transform: translateY(-65%);
	transform: translateY(-65%);
}

.contact{
	font-size: 0.3em;
  display: flex;
  flex-direction: column;
  margin: 3% 0 0 0;
  padding: 0
  align-items: center;
  justify-content: center;
}


.contact a{
	text-decoration: underline !important;
}

#contact-1 {
  line-height: 20px;
  text-align: center;
}

.contact h6{
  font-weight: 400;
  margin: 3% 0%;
}



#contact-1, #soko-mail, #contact-2, #contact-3 {
  font-size: 1.1em;
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 7);
	min-height: 48px;
  font-size: 0.6em;
}

.overlay ul li a {
	font-weight: 600;
	display: block;
	color: white !important;
  text-decoration:none;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
  font-family: 'Prompt';
  text-transform:uppercase;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #aaa !important;
}

.lower~.overlay-hugeinc{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

#op:checked~.overlay-hugeinc{
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-moz-perspective: 300px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) ;
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

#op:checked~.overlay-hugeinc nav ul {
	opacity: 1;
	transform: rotateX(0deg);
}

#op:not(:checked)~.overlay-hugeinc nav ul {
	-webkit-transform: translateY(-25%) ;
	transform: translateY(-25%) ;
}

.subhead h4 {
	font-weight: 300 !important;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

  #scroll-anchor {
    display: block;
    position: absolute;
    top: 130%;
  }

  .st_headline {
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .st_headline h1{
     font-size: 4em !important;
  }

  .overlay nav {
    height: 25%;
    top: 27%;
}

  .overlay ul li {
  	display: block;
  	height: 20%;
  	height: calc(100% / 9);
  	min-height: 48px;
  }

  .overlay ul li {
  	  font-size: 0.8em;
      margin-bottom: 5%;
  }

  .contact{
  	margin-top:7%;
  	font-size: 0.3em;
    display: flex; /* or inline-flex */
    flex-direction: row;
  }

  .contact h6{
    font-weight: 400;
    margin: 0 4%;
  }


  .square-subnav-item-1 h6 a, .square-subnav-item-2 h6 a, .square-subnav-item-3 h6 a{
  	font-size: 1.7em;
  }

  .square {
    display: flex;
    width: 65%;
  }

  #contact-1, #soko-mail, #contact-2, #contact-3 {
    font-size: 1.1em;
  }



  #bg-icons-grid {
    top: 96%;
    padding: 0 10%;
    height: 15%;
  }

  #bg_icons_2_element img{
  	width: 25%;
  }


  #bg_icons_2_element h3{
  	font-size: 1.2em !important;
  }

  .bg-icons-background{
    height: 35%;
    top: 70%;
   }

   .bg-icons-background-page{
     top: 87%;
     display: block;
     position: absolute;
    }


}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

  .logo{
    width: 160px;
  }

  .overlay nav {
    height: 15%;
    top: 27%;
  }

  .st_headline {
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .st_headline h1{
     font-size: 4.5em !important;
  }

  .overlay ul li {
    font-size: 1em;
    margin-bottom: 10%;
  }

  .subnav {
    font-size: 0.4em;
    font-weight: 300;
  }

  .square {
    width: 40%;
  }

  #contact-1, #soko-mail, #contact-2, #contact-3 {
    font-size: 1.3em;
  }

  #bg_icons_2_element img{
  	width: 35%;
  }


  #bg_icons_2_element h3{
  	font-size: 1.2em !important;
  }

  #bg-icons-grid {
    height: 17%;
    top: 97%;
  }

  .bg-icons-background {
    height: 40%;
    top: 75%;

  }

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

.header-section-page {
    height: auto;
}

  #scroll-anchor {
    display: block;
    position: absolute;
    top: 110%;
  }


  .logo{
  	width: 170px;
  }

  .logo-page{
    display: none;
  }

  .overlay nav {
      height: 25%;
    }

  .overlay ul li {
    font-size: 1em;
    margin-bottom: 10%;
  }

  .st_headline {
    position: absolute;
    top:53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .st_headline h1{
     font-size: 5em !important;
  }

  .subhead h4 {
    font-size: 1.3em !important;
  }

  .subnav {
    font-size: 0.4em;
    font-weight: 300;
  }

  .square {
    width: 55%;
    margin: 5% auto 5%;
  }

  .square-subnav-item-1 h6 a, .square-subnav-item-2 h6 a, .square-subnav-item-3 h6 a{
  	font-size: 2.3em;
  }

  #contact-1, #soko-mail, #contact-2, #contact-3 {
    font-size: 1.5em;
  }

  .contact {
    flex-direction: row;
    margin: 0 15%;
  }

  .contact h6 {

    font-weight: 400;
    margin: 0 2%;
  }



  #bg-icons-grid {
    top: 96%;
    padding: 0 10%;
    height: 15%;
  }

  .bg-icons-background{
    top: 77%;
    display: block;
    position: relative;
  }

  #bg_icons_2_element img{
  	width: 35%;
  }


  #bg_icons_2_element h3{
  	font-size: 1.2em !important;
  }

}


/* ------------------ 1_1_home_header_description ----------------------------------- 1_1_home_header_description ---------------- */



.header-description {
	margin: 60% 0 20%;
}

.header-description-home {
	margin: 10% 0 3%;
}

.header-description-page {
	margin: 0% 0 10%;
}

.text-block-centered {
	text-align: center;
}

.text-block-centered h2{
	font-size: 1.7em;
}

.text-block-centered p{
  font-size: 1.1em;
	padding: 0 5%;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

  .header-description {
  	margin: 35% 0 5%;
  }

}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

  .header-description {
  	margin: 15% 0 5%;
  }

  .text-block-centered h2{
  	font-size: 2em;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

  .header-description {
  	margin: 0 0 5%;
  }

  .text-block-centered p {
    font-size: 1.2em;
  }

}





/* ------------------ 1_2_home_photo_buttons ----------------------------------- 1_2_home_photo_buttons ----------------------- */


#foto-buttons-row {
	margin-bottom: 3% !important;
}


.foto-button{
	width: 100%;
	height: 340px;
	background-position: center;
	background-size: cover;
  margin-bottom: 10%;
}

.h2but {
	position: relative;
	top: -25px;
	text-align: center;
}

.h2but h2{
	color: #fff;
	text-shadow: 0px 2px 40px #222222;
  font-size: 1.7em;
}

.foto-button:hover .h2but{
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 0.2s, transform 0.4s;
}

.bg-1{
	background-image: url("../img/03/cursos.jpg");
}

.bg-2{
	background-image: url("../img/03/install.jpg");
}

.bg-3{
	background-image: url("../img/03/event.jpg");
}

.bg-4{
	background-image: url("../img/03/fablab.jpg");
}

.overlay-bg{
	position: absolute;
}

.overlay-f-b{
	position: relative;
	top: 20px;
	margin: 0 20px;
	padding: 50px 30px;
	background-color: #fff;
	opacity: 0;
	text-align: center;
}

.overlay-f-b h2{
	color: black;
  font-size: 1.7em;
}

.foto-button:hover .overlay-f-b{
	opacity: 1;
	transition: 0.5s;
}


.overlay-f-b p{
	line-height: 25px;
  font-size: 1.3em;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

  .foto-button{
  height: 330px;
  margin-bottom: 0;
  }

  .bg-1{
  	margin-bottom: 6%;
  }

  .bg-2{
    margin-bottom: 3%;
  }

  .bg-3{
  	margin-bottom: 6%;
  }

  .bg-4{
    margin-bottom: 3%;
  }

  .overlay-f-b{
  top: 15px;
  padding: 10%;
  margin: 0 15px;
  height: 85%;
  }

  .h2but h2{
  color: #fff;
  font-size: 2em;
  }

  .overlay-f-b h2{
    font-size: 2em;
    line-height: 30px;
  }

  .overlay-f-b p{
    font-size: 1.3em;
    line-height: 30px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

  #foto-buttons-row {
      margin-bottom: 0 !important;
  }

  .foto-button{
    height: 320px;
  }

  .overlay-f-b{
    top: 20px;
    padding: 50px 50px;
    height: 85%;
  }

  .overlay-f-b h2{
    font-size: 1.3em;
    line-height: 20px;
  }

  .overlay-f-b p{
    line-height: 25px;
    font-size: 1.3em;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

  #foto-buttons-row {
    margin-bottom: 3% !important;
  }

  .foto-button{
    height: 340px;
    margin-bottom: 0;
  }

  .overlay-f-b{
    top: 20px;
    padding: 60px 50px;
    height: 85%;
  }

  .overlay-f-b h2{
    font-size: 2em;
    line-height: 20px;
  }

  .overlay-f-b p{
  	line-height: 25px;
    font-size: 1.5em;
  }

  .h2but h2{
  font-size: 2em;
  }

 }





/* ------------------ 1_3_home_events_description -------------------------- 1_3_home_events_description --------------------- */



.events-description {
	margin-top: 5%;
	background-color: #D2D0CE;
	padding: 5% 0 0 0;
}

.events-thumbnail-slider {
	padding: 10% 0 1% 0;
	margin: 0;
}


.menu-item-container {
  transition: .2s;
  transform: translateY(1em);
}

.menu-item-container:hover .img__description {
  transform: translateY(0);
}


.menu-item-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(65, 209, 174, 0.77);  greenblue*/
  /* background: rgba(227, 91, 38, 0.77);   orange*/
  background: rgba(243, 114, 34, 0.92);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.menu-item-container:hover .menu-item-description {
  visibility: visible;
  opacity: 1;
}


.menu-item-description p{
	font-size: 1.1em;
    font-weight: 400;
	margin-top: 0;
	color: white;
	margin: 0 10%;
	text-align: center;
	line-height: 1.2em;
}

.menu-item-container-title {
    display: block;
	vertical-align: middle;
	text-align: center !important;
	bottom: 0px;
	color: white;
	position: absolute;
	top: 65%;
	left: 0;
	right: 0;
}

.menu-item-container-title h3{
	color: white !important;
	text-align: center !important;
	font-size: 21px !important;
	font-weight: 400 !important;
}

.menu-item-container-title:hover {
	color: rgba(255, 255, 255, 0);
	opacity: 1;
	visibility: hidden;
}

#thumbnail-slider-item {
  margin-bottom: 7%;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {
  .events-description {
  	padding: 10% 0 0 0;
  }
}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

  .events-thumbnail-slider {
      padding: 0;
      margin: 0;

  }

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

  .events-description {
    padding: 5% 0 0 0;
  }


  #thumbnail-slider {
      display: block;
      width: 85%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }

  #thumbnail-slider-item {
      margin-bottom: 0;
    }
}


/*--------------------  carousel  -----------------------*/

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: .5;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: none;
}


.carousel-control {
  padding-top:10.25%;
  width:5%;
  font-size: 33px !important;
  text-shadow: none !important;
  padding-top: 7% !important;
}


.carousel-control.left {
    left: -85px;
    width: 10%;
    background-image: none !important;
}

.carousel-control.left i{
	color: black;
}


.carousel-control.right {
    background-image: none !important;
    right: -85px !important;
    width: 10%;
    color: #6E6E6E !important;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

}



/* -----------------------  1_4_home_learning areas --------------------------------  1_4_home_learning areas  ------------------------- */



.learning-areas {
	margin: 5% 0 0 0;
}

#learning-areas-element {
	text-align: center;
}

#learning-areas-element p{
	font-size: 1em;
  line-height: 25px;
}


#learning-areas-element h3{
	margin: 0 0 3% 0;
}


.learning-areas-buttons {
	margin: 3% 0 0 0;
}

#learning-areas-buttons-element {
  text-align: center;
}

.b-outlined-gray {
    color: #acacac;
    border-style: solid;
    border-width: 1px;
    border-color: #acacac;
    background: none;
    font-weight: 200;
    margin: 10% 0 5% 0;
    font-size: 1.3em;
}

.b-outlined-gray:hover {
    color: #f27222;
    font-weight: 400;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {
  .learning-areas {
  	margin: 10% 0 0 0;
  }

  .b, .b-outlined-gray {
    margin: 5% 0 5% 0;
  }
}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

  .b, .b-outlined-gray {
    margin: 3% 0 5% 0;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

}


/* ----------------------- 1_5_home_media lab ------------------------ 1_5_home_media lab------------------------- */

.media-lab {
  margin: 20% 0;
}

.pic-bg{
	height: 500px;
	background-image: url("../img/06/pic-bg.jpg");
    background-size: cover;

}
.over-pic-bg{
	height: 100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 );
}
.pic-bg h2{
	color: #fff;
}

.pic-bg p{
	color: #fff;
	font-weight: 200;
}


#lab-description-container {
	text-align: center;
    padding: 10% 0;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

  .media-lab {
    margin: 10% 0;
  }

  button{
  margin: 30px;
  }
  .bott80{
    padding-top: 125px;
  }
  .pic-bg{
    height: 400px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

  .media-lab {
    margin: 10% 0 2% 0;
  }

  .bott80{
  padding-top: 200px;
  }

  .pic-bg{
  height: 400px;
  }

  #lab-description-container {
    text-align: center;
    padding: 6% 0;
  }

 }


 /* Large devices (large desktops, 1200px and up) */
 @media screen and  (min-width: 1200px) {

   .media-lab {
     margin: 5% 0 2% 0;
   }

 .learning-areas {
   margin: 9% 0 0 0;
 }

}



/* ----------------------- 1_6_home_companies -------------------------------- 1_6_home_companies ---------------------------- */


#companies{
	display: inline-block;
	width: 100%;
	font-size: 0;
  outline: 1px solid white;
  outline-offset: -1px;
}

#cont-comp {
   display: inline-block;
   width: 100px;
   height: 115px;
   margin-right: 1px;
   margin-bottom: 1px;
   background-color: white;
   position: relative;
   border: 1px solid #e3e3e3;
}

#comp {
   width: 33px;
   height: 33px;
   background-color: none;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -17px;
   margin-left: -17px;
}
#comp-nasa {
   width: 40px;
   height: 33px;
   background-color: none;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -17px;
   margin-left: -20px;
}

#comp img:hover, #comp-nasa img:hover{
	filter: grayscale(100%);
	transition: 0.5s;
}
#text-comp{
   position: absolute;
   top: 72%;
   width: 100%;
   opacity: 0;
}

#text-comp p{
  padding: 0 5px 0 5px;
  color: #f27222;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
}


#comp:hover + #text-comp{
    opacity: 1;
	transition: 0.5s;
}

#comp-nasa:hover + #text-comp{
    opacity: 1;
	transition: 0.5s;
}


#companies-text-block {
  text-align: center;
  margin: 20% 0;
}

#companies-text-block p{
	font-size: 1.2em;
}

#companies-text-block h2 {
  font-size: 1.7em;
}


.companies-hr {
	display: inline-block !important;
}

#companies-container {
	margin-bottom: 6%;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {
  #companies{
  width: 100%;
  }
  #cont-comp {
  display: inline-block;
   width: 16.5%;
   height: 100px;
  }
  #companies{
    outline: 12px solid white;
    outline-offset: -12px;
  }
  .line-variable {
  margin-left: auto;
  }

  #companies-text-block {
    margin: 13% 0;
  }

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

  #companies{
  width: 424px;
  }

  #companies-container {
      margin-bottom: 0%;
  }

  #cont-comp {
   width: 105px;
   height: 105px;
  }

  #comp {
   width: 30px;
   height: 30px;
   margin-top: -15px;
   margin-left: -15px;
  }
  #comp-nasa {
   width: 38px;
   height: 30px;
   margin-top: -15px;
   margin-left: -19px;
  }

  #text-comp p{

  font-size: 10px;

  }
  .space120{
  display: inline-block;
  height: 90px;
  }



}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

  #companies-container {
      margin-bottom: 0;
      padding: 7%;
  }

  #companies{
    display: inline-block;
  	width: 100%;
  	font-size: 0;
    outline: 1px solid white;
    outline-offset: -1px;

  }

  #cont-comp {
     display: inline-block;
     width: 100px;
     height: 100px;
     margin-right: 1px;
     margin-bottom: 1px;
     background-color: white;
     position: relative;
  }

  #companies-text-block {
    margin: 3% 0;
    text-align: left;
  }

}




/* ------------------- 1_7_home_Meet the Team --------------------------- 1_7_home_Meet the Team------------------ */



.meet-the-team {
	padding-top: 3%;
	background-color: #D2D0CE;
}

#col3-5-center {
    margin: 0 auto;
}

#team-member{
	position: relative;
	display: inline-block;
	width: 28%;
	height: 135px;
	background-color: white;
}

#team-member:hover .m1,#team-member:hover .m2,#team-member:hover .m3,#team-member:hover .m4,#team-member:hover .m5,#team-member:hover .m6,#team-member:hover .m7,#team-member:hover .m8{
	filter: grayscale(75%);
	transition: 0.5s;
}


.tm-over{
	position: absolute;
	background-color: #f27222;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height:103%;
	width: 104%;
	mix-blend-mode: multiply;
	opacity: 0;

}

.tm-text{
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #f27222;
	transform: translateY(15px);
	opacity: 0;
}

.tm-text h3{
		vertical-align: bottom;
   	margin-bottom: 0;
  	color: #fff !important;
    font-size: 1em !important;
    font-weight: 300 !important;
}
.tm-text p{
	font-size: 10px;
	background-color: white;
	vertical-align: bottom;
	color: #f27222;
  line-height: 15px;
  width: 104%;
}

#team-member:hover .tm-text{
	opacity: 1;
	transform: translateY(0px);
	transition: 0.3s;
}

#team-member:hover .tm-over{
	opacity: 1;
	transition: 0.5s;
}

.background-light{
	background-color: #ddd;
}

.m1,.m2,.m3,.m4,.m5,.m6,.m7,.m8{
	height: 103%;
	width: 104%;
}

.m1{
	background-repeat: no-repeat;
	background-position: top;
	background-image: url('../img/08/1.jpg');
	background-size: cover;
}

.m2{
	background-repeat: no-repeat;
	background-position: top;
	background-image: url('../img/08/2.jpg');
	background-size: cover;
}
.m3{
	background-repeat: no-repeat;
	background-position: top;
	background-image: url('../img/08/3.jpg');
	background-size: cover;
}
.m4{
	background-repeat: no-repeat;
	background-position: top;
	background-image: url('../img/08/4.jpg');
	background-size: cover;
}
.m5{
	background-repeat: no-repeat;
	background-position: top;
	background-image: url('../img/08/5.jpg');
	background-size: cover;
}
.m6{
	background-repeat: no-repeat;
	background-position: top;
	background-image: url('../img/08/6.jpg');
	background-size: cover;
}
.m7{
	background-repeat: no-repeat;
	background-position: top;
	background-image: url('../img/08/7.jpg');
	background-size: cover;
}
.m8{
	background-repeat: no-repeat;
	background-position: top;
	background-image: url('../img/08/8.jpg');
	background-size: cover;
}



/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

  .meet-the-team {
  	padding-top: 10% 0 0 0;
  }

  #team-member{
  	position: relative;
  	display: inline-block;
  	width: 22%;
  	height: 172px;
  	background-color: white;
  }


  .m1,.m2,.m3,.m4,.m5,.m6,.m7,.m8{
  	height: 103%;
  	width: 103%;
  }

  .tm-over {
    height: 103%;
    width: 103%;
}

  .tm-text{
  	top: 105px;
  }

  .tm-text h3{
    color: white !important;
    font-weight: 300 !important;
  }

  .tm-text p {
    width: 103%;
  }

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {
  #team-member{
  	position: relative;
  	display: inline-block;
  	width: 22%;
  	height: 190px;
  	background-color: white;
  }

  .meet-the-team {
    padding-top: 7%;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

}




/* ----------------------- 1_8_home_visit us-contact -------------------------------------- 1_8_home_visit us-contact --------------------- */

.visit-us .container-fluid {
	padding: 0 !important;
}

#box-map{
	overflow:hidden;
	height:500px;
	width:100%;
	top: -150px;

}

.map {
	margin: 95% 0 0 0;
}

#gmap_canvas{
	height:500px;
	width:100%;
}
#gmap_canvas img{
	max-width:none!important;
	background:none!important
}

.b-outlined{
	color: #f27222;
	border-style: solid;
	border-width: 1px;
	border-color: #f27222;
	background: none;
}
.b-outlined:hover{
	color: #fff;
	background-color: #f27222;
	transition: 0.2s;
}


.box-shadows{
  display: block;
  position: absolute;
	z-index: 1;
	width: 300px;
	height: auto;
	background-color: #fff;
  box-shadow: 0px 30px 50px rgba(0,0,0,0.30);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.box-content{
	margin: 50px;
	text-align: center;
}
.box-content h2{
  font-size: 1.7em;
	padding-top: 50px;
}

.box-content p{
  font-size: 1em;
  line-height: 25px;
}

.box-content .b-outlined{
	margin: 5% 0 3% 0;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

  .box-shadows{
  	width: 530px;
  }

  .map {
  	margin: 30% 0 0 0;
  }

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {
  .box-shadows{
    display: block;
    position: absolute;
  	z-index: 1;
  	width: 665px;
  	height: auto;
  	background-color: #fff;
    box-shadow: 0px 30px 50px rgba(0,0,0,0.30);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  .member-block {
    margin-top: 7%;
  }

  .tm-text {
    top: 130px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

  .visit-us {
    margin: 5% 0 0 0;
  }

  .box-shadows{
    display: block;
    position: absolute;
  	z-index: 1;
  	width: 665px;
  	height: auto;
  	background-color: #fff;
    box-shadow: 0px 30px 50px rgba(0,0,0,0.30);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  .box-content p {
    font-size: 1.2em;
  }

  .map {
    margin: 20% 0 0 0;
  }
}



/* ----------------------- 0_0_footer -------------------------------------- 0_0_footer  --------------------- */

.footer .container-fluid {
	padding-right: 0;
    padding-left: 0;
}

.footer-box-orange{
	width: 100%;
	height: 70px;
	background-color: #f27222;
}

.footer-box-gray{
	width: 100%;
	height: 850px;
	background-color: #272726;
	padding: 4% 10%;
}

#footer-box-gray-left {
text-align: center;
margin: 15% 0 0 0;
}

#footer-box-gray-left a{
	font-size: 1.3em;

}

#footer-box-gray-left h3{
	color: white !important;
	font-size: 25px !important;
}

#footer-box-gray-left hr{
  margin-top: 10% !important;
  height: 1px !important;
  background: #ffffff !important;
  border-style: none !important;
  margin-bottom: 20px !important;
  width: 80% !important;
}

#footer-box-gray-middle {
	text-align: center;
  margin: 20% 0;
}

#footer-box-gray-middle hr{
	margin-top: 5% !important;
	height: 1px !important;
	background: #ffffff !important;
	border-style: none !important;
	margin-bottom: 20px !important;
	width: 80% !important;
}

#footer-box-gray-right {

	padding: 3% 0 0 25%;
}

#footer-logo-right {
	width: 65%;
  margin-bottom: 8%;
}


#footer-box-gray-right h5{
	color: white;
	font-size: 1.2em;
	font-weight: 400;
}

#footer-box-gray-right p{
	color: white;
	font-size: 1.2em;
	font-weight: 100;
}

#footer-box-gray-right hr{
	margin-top: 5% !important;
	height: 1px !important;
	background: #ffffff !important;
	border-style: none !important;
	margin-bottom: 20px !important;
	width: 30% !important;
}


.footer-sm {
	position: relative;
	display: inline-block;
	top: -10px;
}
.footer-sm p{
	font-weight: 200;
	color: white;
	font-size: 1.2em;
}

.ftr-cont1{
	display: inline-block;
	padding-left: 75px;
}
.ftr-cont2{
	display: inline-block;
	padding-left: 40px;
}

.ftr-left h3{
	color: white;
	font-weight: 500;

}
.ftr-left hr{
	margin-left: 0;
	background: #646464;
}
.footer-box-gray p{
	font-weight: 200;
	color: #fff;
}
.ftr-left {
	padding-top: 40px;
	text-align: left;
}
.ftr-middle {
	padding-top: 40px;
	text-align: center;
}
.ftr-middle a{
	color: #fff;
	text-decoration:none;
}
.ftr-right img{
	width: 125px;
}
.ftr-right p{
	color: #aaaaaa;
	line-height: 20px;

}
.ftr-right h5{
	font-family:"roboto";
	font-size: 16px;
	margin: 0;
	margin-top: 10px;
	text-decoration: none;
	color: #fff;
	font-weight: 400;
	line-height: 3;
}
.btn-ftr{
	margin: auto;
	width: 92%;
	height: 65px;
	background: rgba(255,255,255,0);
}
.btn-ftr:hover{
	background: rgba(255,255,255,0.05);
	transition: 0.7s;
}
.btn-ftr p{
	line-height: 65px;
	font-weight: 500;
  font-size: 1.7em;
  text-transform: uppercase;
}

.ftr-middle hr{
	height: 1px;
	width: 92%;
	margin:auto;
	background-color: #646464;
}
.footer_icon{
	opacity: 0.7;
	align-content: center;
	vertical-align: middle;
	padding:8px 10px;
    }
.footer_icon:hover{
	opacity: 1;
	transition: 0.3s;
    }
form {

    border: none;
    font-family: "roboto";
    font-size: 0;
}

.container-imp, .container-sbt{
	position: relative;
	top: -9px;
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: none;
}
.container-imp {
   width: 425px;
}

.container-sbt {
    width: 190px;
}

input[type=text] {
	width: 428px;
    padding: 10px;
    padding-left: 30px;
    margin: 12px 0;
    color: #fff;
    font-family: "roboto";
    font-size: 16px;
    font-weight: 200;
    display: inline-block;
    border: 1px solid #fff;
    background: none;
    border-radius: 30px 0px 0px 30px;
    text-decoration: underline;
}
input[type=submit] {
	font-family: "roboto";
    font-size: 16px;
    font-weight: 300;
	width: 100%;
    padding: 11px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 0px 30px 30px 0px;
}

input[type=submit] {
    background-color: #fff;
    color: #f27222;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
    transition: 0.5s;
}
input:invalid {
  background-color: none;
  box-shadow: none;
}




/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

  .container-imp {
		width: 280px;
	}
	.container-sbt {
		width: 136px;

	}

	input[type=text] {
		width: 238px;
	    padding: 10px;
	    padding-left: 30px;
	    margin: 12px 0;
	    color: #fff;
	    font-family: "roboto";
	    font-size: 16px;
	    font-weight: 200;
	    display: inline-block;
	    border: 1px solid #fff;
	    background: none;
	    border-radius: 30px 0px 0px 30px;
	    text-decoration: underline;
	}

	.ftr-cont1{
		display: none;
		padding-left: 0px;
	}
	.ftr-cont2{
		display: inline-block;
		position: relative;
		padding-left: 0px;
		left: -10px;

	}
	.footer_icon{
		padding:8px 10px;
		width: 20px;
    }
    .footer-sm {
	position: relative;
	display: inline-block;
	top: -10px;
  }

  .footer-box-gray {
    padding: 4% 5%;
    height: 250px;
  }

    #footer-box-gray-left {
      text-align: left;
      margin: 0;
    }

    #footer-box-gray-left h3 {
      font-size: 1.3em !important;
    }

    #footer-box-gray-left a {

      font-size: 1.1em;
    }

    #footer-box-gray-left hr {
    width: 60% !important;
    left: 0;

    }

    .btn-ftr p {
      font-size: 1.1em;
    }


    #footer-box-gray-middle {
      margin: 0;
    }


    #footer-box-gray-middle hr {

      margin-top: 0% !important;
      margin-bottom: 1% !important;
    }

    #footer-box-gray-right {
    text-align: left;
    padding: 3% 0 0 7%;
    margin: 0;
    }

    #footer-box-gray-right h5 {
      color: white;
      font-size: 1em;
      font-weight: 300;
      padding-top: 15%;
      line-height: 0;
    }

    #footer-box-gray-right p {
      color: white;
      font-size: 1em;
      font-weight: 100;
      line-height: 19px;
      margin-top: 9%;
    }

    #footer-logo-right {
        width: 65%;
        margin-bottom: 0;
    }

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

  html{
  }
  .container-imp {

     width: 360px;
  }

  input[type=text] {
    width: 318px;
      padding: 10px;
      padding-left: 30px;
      margin: 12px 0;
      color: #fff;
      font-family: "roboto";
      font-size: 16px;
      font-weight: 200;
      display: inline-block;
      border: 1px solid #fff;
      background: none;
      border-radius: 30px 0px 0px 30px;
      text-decoration: underline;
  }
    .container-sbt {
        width: 172px;
  }
  .ftr-cont1{
    display: inline-block;
    padding-left: 0px;
  }
  .ftr-cont2{
    display: inline-block;
    padding-left: 8px;
  }
  .footer_icon{
    padding:8px 5px;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

  .footer-box-gray {
      padding: 3% 9%;
      height: 270px;
  }

  #footer-box-gray-left hr {
      width: 20% !important;
      margin: 0;
  }

  #footer-box-gray-right {
    padding: 2% 0 0 15%;
  }

}



/* --------------------------- 3_education -------------------- 3_education ---------------------- */


.education-upcoming-workshops {
	background-color: #D2D0CE;
}

.education-custom-workshops {
	background-color: #D2D0CE;
}

.education-custom-workshops {
	background-color: #D2D0CE;
}

.education-feedback {
	background-color: #D2D0CE;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

}



/* --------------------------- 4_events ------------------------------ 4_events ------------------------ */

.events-latest-projects {
	background-color: #D2D0CE;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

}



/* --------------------------- 5_medialab ------------------------------ 5_medialab ------------------------ */

.medialab-work-method {
	background-color: #D2D0CE;
  padding: 5% 0;
  margin: 5% 0;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

}



/* --------------------------- 6_fablab ------------------------------ 6_fablab ------------------------ */


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

}




/* --------------------------- 7_space ------------------------------ 7_space ------------------------ */

.space-details {
  background-color: #D2D0CE;
  padding: 5% 0;
  margin: 5% 0;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {

}



/* --------------------------- 8_history ------------------------------ 8_history ------------------------- */
#history-timeline-container {
  padding: 0 0 5% 0;

}

#hist_img{
	display: inline-block;
	position: relative;
	margin-left: 0;
	height: 100%;
	width:50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: left;
}

#hist_img_right{
	display: inline-block;
	position: absolute;
	margin-left: 0;
	left: 50%;
	height: 100%;
	width:50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: left;
}

#history-text {
  padding: 5% 9% ;
}

#history-pic {
  padding: 0;
  overflow: hidden;
}


.Bubble-h{
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 15px 50px 0px rgba(0,0,0,0.3);
}
.Bubble-h h5{
	text-align: center;
	font-family: 'Great Vibes';
	font-size: 24px;
	color: #646464;
	font-weight: 100;
	line-height: 24px;
	margin: 0;
	margin-top: 0;
	padding: 25% 0;
}
.Bubble-h h4{
	text-align: center;
	font-family: 'Prompt';
	font-size: 30px;
	color: #f27222;
	font-weight: 400;
	line-height: 28px;
	margin: 0px;
	padding: 0;
}

.h_i-1{
	background-image: url("../img/8_0/cf-01.jpg");
}

.h_i-2{
	background-image: url("../img/8_0/cf-02.jpg");
}

.h_i-3{
	background-image: url("../img/8_0/sample3.jpg");
}

#hist_text_container {
	display: inline-block;
	position: absolute;
	width: 50%;
	height: 100%;
	overflow-y: scroll;
	margin-left: 18px;
	overflow-x: hidden;
}
#hist_text_container_left {
	display: inline-block;
	position: relative;
	width: 50%;
	height: 100%;
	overflow-y: scroll;
	margin-left: 18px;
	overflow-x: hidden;

}
#hist_text {
	width: 70%;
	max-width: 450px;

}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media screen and  (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media screen and  (min-width: 992px) {


}

/* Large devices (large desktops, 1200px and up) */
@media screen and  (min-width: 1200px) {


}
