
#all {
	display: inline-block;
    width: 100%;
	border-style: none;
    border-width: 1px;
    border-color: blue;
    align-content: center;


}

#one{
	display: inline-block;
	width: 1140px;
	margin: auto;
	border-style: none;
    border-width: 1px;
    border-color: red;
}

#half{
	display: inline-block;
	width: 545px;
	border-style: none;
    border-width: 1px;
    border-color: black;

}
#third{
	display: inline-block;
	width: 346px;

}

#quarter{
	display: inline-block;
	width: 247px;
    background-color: lightgray;


}

#fifth{
	display: inline-block;
	width: 188px;
	background-color: none;
}

#col3-5-center{
	width: 664px;
}

#col3-5-left{
	display: inline-block;
	width: 664px;
}

#col2-5-right{
	display: inline-block;
	text-align: left;
	width: 426px;
}


#space39 {
	display: inline-block;
	width: 39px;
	height: 50px;
	background-color: none;

}
#space39ftr {
	display: inline-block;
	width: 39px;
	height: 50px;
	background-color: none;

}
#space37 {
	display: inline-block;
	width: 37px;
	height: 50px;
	background-color: none;

}
#space38 {
	display: inline-block;
	width: 38px;
	height: 50px;
	background-color: none;

}
#space40 {
	display: inline-block;
	width: 40px;
	height: 50px;
	background-color: none;

}


#s3{
	height: 400px;
}




a{
	text-decoration: none;
	color: #f27222;
}



 /* Overlay */
.lower{
  width:27px;
  height: 25px;
  opacity:1;
  color:black;
  position: absolute;
  top: 25px;
  right: 25px;
}

input{
  display:none;
}

.lower label{
  font-family: 'Prompt';
  font-weight: 300;
  text-transform:uppercase;
  text-align:center;
}

.lower p{
  position: absolute;
  opacity: 0;
  float: left;
  margin: auto;
}
.lower img{
  float: right;
  margin: auto;
}

.lower:hover .tmen{
	font-weight: 200;
	color: white;
    opacity: 1;
    transform: translateX(-60px);
    transition: opacity 0.5s;
}
.lower label:hover{
  cursor:pointer;
}

.square{
	padding: 0px;
	width: 475px;
	background-color: #fff;
	margin: 40px auto;
}

.subnav{
	position: relative;
	font-family: 'roboto';
	font-size: 20px;
	color: #f27222;
	font-weight: 200;
	margin: auto;
    text-align: center;
    vertical-align: middle;
}
.subnav:hover {
	text-decoration: underline;
}
.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(51,51,51,0.95);
}

.overlay label{
	width: 27px;
	height:25px;
	position: absolute;
	right: 25px;
	top: 25px;
	background: url('img/close.svg');
	z-index: 100;
    cursor:pointer;
}

.overlay nav {
	text-align: center;
	position: relative;
	font-family: 'roboto';
	font-size: 48px;
	font-weight: 200;
	color: white;
	top: 40%;
	height: 50%;
	line-height: 50px;
	-webkit-transform: translateY(-65%);
	transform: translateY(-65%);
}

.contact{
	margin-top:3%; 
	font-size: 16px;
}
.contact a{
	text-decoration: underline;
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 48px;
}

.overlay ul li a {
	font-weight: 600;
	display: block;
	color: white;
  text-decoration:none;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
  font-family: 'Prompt';
  text-transform:uppercase;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #aaa;
}

.lower~.overlay-hugeinc{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

#op:checked~.overlay-hugeinc{
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-moz-perspective: 300px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) ;
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

#op:checked~.overlay-hugeinc nav ul {
	opacity: 1;
	transform: rotateX(0deg);
}



#op:not(:checked)~.overlay-hugeinc nav ul {
	-webkit-transform: translateY(-25%) ;
	transform: translateY(-25%) ;
}

@media only screen and (max-width: 1140px) {
	
	html{
	}

  #one{
	width: 900px;
  }

  #half{
	display: inline-block;
	width: 425px;
  }
  #third{
	display: inline-block;
	width: 266px;
  }

  #quarter{
	width: 187px;

  }

  #fifth{
	width: 140px;
}
	#col2-5-right{
	display: inline-block;
	text-align: left;
	width: 266px;
	}

	#col3-5-left{
		width: 582px;
	}

}

@media only screen and (max-width: 800px) {
	
	html{
	}

	  #one{
	width: 650px;
  }
  #half{
	width: 315px;

  }
  #third{
	width: 183px;
  }

  #quarter{
	display: inline-block;
	width: 125px;
    background-color: lightgray;
   }

  	#fifth{
	display: inline-block;
	width: 90px;
	background-color: none;
	}
	#col3-5-center {
	width: 650px;
	}
	#space38 {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: none;
	}
	#col2-5-right {
	width: 100%;
	text-align: center;
	}
	#space39 {
	width: 0px;
	height: 0px;
	}
	#col3-5-left{
		width: 416px;
	}
	#col2-5-right{
	display: inline-block;
	text-align: left;
	width: 183px;
	}
}

@media only screen and (max-width: 480px) {
	
	html{

	}

#col3-5-center{
	width: 96%;
}


#one{
	width: 100%;
}
#half{
	width: 100%;
}
	#col2-5-right{
	display: inline-block;
	text-align: center;
	width: 95%;
	}

}
